<InputGroup.Stack 
  label="Price" 
  help="Help text" 
  error="Error messages"
>
  <InputGroup.Label>
    $USD
  </InputGroup.Label>
  <InputGroup.Field>
    <Input type="number" defaultValue={100.00} />
  </InputGroup.Field>
</InputGroup.Stack>
