<InputGroup>
  <InputGroup.Label>$</InputGroup.Label>
  <InputGroup.Field>
    <Input type="number" defaultValue={100} />
  </InputGroup.Field>
  <InputGroup.Button>
    <Button secondary>Cancel</Button>
  </InputGroup.Button>
  <InputGroup.Button>
    <Button>Save</Button>
  </InputGroup.Button>
</InputGroup>
