$card-background: $callout-background !default;
$card-radius: 8px;

$card-border-color: rgba($black, 0.25) !default;
$card-border-style: solid !default;
$card-border-width: 1px;
$card-border: $card-border-width $card-border-style $card-border-color !default;

$card-padding: $callout-padding !default;
$card-radius: $callout-radius !default;

$card-fill-border-width: $card-border-width 0 !default;

$card-header-background: $topbar-background !default;
$card-footer-background: $card-header-background !default;

.rev-Card {
  background-color: $card-background;
  border: $card-border;
  border-radius: $card-radius;
  :first-child {
    border-radius: $card-radius $card-radius 0 0;
  }
  :last-child {
    border-radius: 0 0 $card-radius $card-radius;
  }
}

.rev-Card-slice {
  padding: $card-padding;
}

.rev-Card-header {
  background-color: $card-header-background;
}

.rev-Card-footer {
  background-color: $card-footer-background;
}

.rev-Card-fill {
  border: $card-border;
  border-width: $card-fill-border-width;
  &:first-child, &:last-child {
    border: none;
  }
}
