.RevModal {
  bottom: 0;
  left: 0;
  padding: 0;
  position: fixed;
  overflow-y: auto;
  right: 0;
  top: 0;
  z-index: 1000;
}

.RevModal-background {
  background-color: #000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0.5;
}

.RevModal-content {
  background-color: #FFF;
  opacity: 1;
  padding: 2rem;
  position: absolute;
  overflow: auto;
  max-width: 80%;
  max-height: 80%;
  top: 10%;
  left: 10%;
}

.Modal-close {
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  top: 0rem;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
