.rev-Pagination-arrow {
  display: inline-block;
}

.rev-Pagination-arrow.is-disabled a {
  color: #cacaca;
  cursor: not-allowed;
}

.rev-Pagination-arrow.is-onlyMobile a {
  display: none;
  @media #{$small-only} {
    display: inline-block;
  }
}

.rev-PaginationWrapper-pageList {
  display: none;
  @media #{$small-only} {
    display: block;
  }
}

.rev-Pagination-number,
.rev-Pagination-dots {
  @media #{$small-only} {
    display: none;
  }
}
