<BrowserSupportWarning minVersions={{chrome: '9999', msie: '9999'}}>
  <Row>
    <Col>
      <h3>Your browser is not supported.</h3>
      <p>Google Chrome 9999 or Internet Explorer v9999 is required to use this application.</p>
    </Col>
  </Row>
</BrowserSupportWarning>
