<AuthenticityTokenProvider name="csrf" value="plz no hackerz">
  <Form 
    onSubmit={(e) => {
      e.preventDefault()
      alert(`csrf: ${e.currentTarget.elements['csrf'].value}`)
    }}
  >
    <Button>Click to see CSRF token</Button>
  </Form>
</AuthenticityTokenProvider>

