<div>
  <Badge>Default</Badge>
  <Badge primary>1</Badge>
  <Badge secondary>2</Badge>
  <Badge tertiary>3</Badge>
  <Badge accent>4</Badge>
  <Badge warning>5</Badge>
  <Badge success>6</Badge>
  <Badge alert>7</Badge>
</div>
