<div>
  <p><Checkbox name="singular" defaultValue="1" label="One" /></p>
  <p>
    <Checkbox 
      name="singular" 
      defaultValue="3" 
      label="Has error" 
      error 
    />
  </p>
  <p>
    <Checkbox.Fieldset 
      name="with_help" 
      options={[
        {label: 'North', value: 'N'},
        {label: 'South', value: 'S'},
        {label: 'East disabled', value: 'E', disabled: true},
        {label: 'West', value: 'W'},
      ]} 
      label="Has help text and error" 
      help="This is the help text." 
      error="This is the error."
    />
  </p>
</div>
