<Row>
  <Col>
    <Callout>
      Look at this close button!
      <CloseButton>
        <Icon i="close"/>
      </CloseButton>
    </Callout>
  </Col>
  <Col>
    <Callout>
      Look at this close button!
      <CloseButton aria-label="Close Callout">
        <span>&times;</span>
      </CloseButton>
    </Callout>
  </Col>
</Row>
