<Row>
  <Col>
    <DataGrid className="rev-DataGrid--striped">
      <DataGrid.Header>
        <Row>
          <Col medium={2}>
            <span>Column Header</span>
          </Col>
          <Col medium={2}>
            <span>Column Header</span>
          </Col>
          <Col medium={2}>
            <span>Column Header</span>
          </Col>
          <Col medium={2}>
            <span>Column Header</span>
          </Col>
          <Col medium={2}>
            <span>Column Header</span>
          </Col>
          <Col medium={2}>
            <span>Column Header</span>
          </Col>
        </Row>
      </DataGrid.Header>
      <DataGrid.HeaderSmall>
        <Row>
          <Col medium={2}>
            <span>Small DataGrid Header</span>
          </Col>
        </Row>
      </DataGrid.HeaderSmall>
      <DataGrid.Body>
        <Row>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span> <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
        </Row>
        <Row>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
        </Row>
        <Row>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
        </Row>
        <Row>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
        </Row>
        <Row>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
          <Col medium={2}>
            <span className="rev-DataGrid-columnHeader--small">Column Header:</span>
            <span>DataGrid text</span>
          </Col>
        </Row>
      </DataGrid.Body>
    </DataGrid>
  </Col>
</Row>
