<div>
  <StatelessModal>
    <h2>Stateless Modal Example</h2>
    <p>Modal content goes here...</p>
  </StatelessModal>
  <Modal isOpen={true}>
    <h2>Modal Example</h2>
    <p>Modal content goes here...</p>
    <a className="Modal-close" href="./">x</a>
  </Modal>
</div>
