<div>
  <Progress value={20} />
  <Progress value={40} />
  <Progress value={60} />
  <Progress value={80} />
  <Progress value={100} />
  <Progress value={90}>text</Progress>
  <Progress value={90} secondary>secondary</Progress>
  <Progress value={90} success>success</Progress>
  <Progress value={90} warning>warning</Progress>
  <Progress value={90} alert>alert</Progress>
  <Progress min={1} max={5} value={4}>4 on a 1 to 5 scale</Progress>
</div>
