<Row>
  <Col>
    <h3>Tables</h3>
  </Col>
  <Col>
    <Table>
      <Table.Header>
        <Row>
          <Col medium={2}>
            <p>Column Header</p>
          </Col>
          <Col medium={2}>
            <p>Column Header</p>
          </Col>
          <Col medium={2}>
            <p>Column Header</p>
          </Col>
          <Col medium={2}>
            <p>Column Header</p>
          </Col>
          <Col medium={2}>
            <p>Column Header</p>
          </Col>
          <Col medium={2}>
            <p>Column Header</p>
          </Col>
        </Row>
      </Table.Header>
      <Table.Body>
        <Table.Row>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
        </Table.Row>
        <Table.Row>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
        </Table.Row>
        <Table.Row>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
        </Table.Row>
        <Table.Row>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
        </Table.Row>
        <Table.Row>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
        </Table.Row>
      </Table.Body>
    </Table>
  </Col>
</Row>
