<Row>
  <Col>
    <h3>Table with Cols</h3>
  </Col>
  <Col>
    <TableCols>
      <Table.Header>
        <Row>
          <Col medium={2}>
            <p>Column Header</p>
          </Col>
          <Col medium={2}>
            <p>Column Header</p>
          </Col>
          <Col medium={2}>
            <p>Column Header</p>
          </Col>
          <Col medium={2}>
            <p>Column Header</p>
          </Col>
          <Col medium={2}>
            <p>Column Header</p>
          </Col>
          <Col medium={2}>
            <p>Column Header</p>
          </Col>
        </Row>
      </Table.Header>
      <Table.HeaderSmall>
        <Row>
          <Col medium={2}>
            <p>Small Table Header</p>
          </Col>
        </Row>
      </Table.HeaderSmall>
      <Table.Body>
        <Table.Row>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
        </Table.Row>
        <Table.Row>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
        </Table.Row>
        <Table.Row>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
        </Table.Row>
        <Table.Row>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
        </Table.Row>
        <Table.Row>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
          <Col medium={2}>
            <p><span>Column Header:</span> Table Row text</p>
          </Col>
        </Table.Row>
      </Table.Body>
    </TableCols>
  </Col>
</Row>
