<div>
  <p><Visibility showForSmall>showForSmall</Visibility></p>
  <p><Visibility showForSmallOnly>showForSmallOnly</Visibility></p>
  <p><Visibility hideForSmall>hideForSmall</Visibility></p>
  <p><Visibility hideForSmallOnly>hideForSmallOnly</Visibility></p>
  <p><Visibility showForMedium>showForMedium</Visibility></p>
  <p><Visibility showForMediumOnly>showForMediumOnly</Visibility></p>
  <p><Visibility hideForMedium>hideForMedium</Visibility></p>
  <p><Visibility hideForMediumOnly>hideForMediumOnly</Visibility></p>
  <p><Visibility showForLarge>showForLarge</Visibility></p>
  <p><Visibility showForLargeOnly>showForLargeOnly</Visibility></p>
  <p><Visibility hideForLarge>hideForLarge</Visibility></p>
  <p><Visibility hideForLargeOnly>hideForLargeOnly</Visibility></p>
</div>
