.RevModal, .RevModal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.RevModal {
  z-index: 1000;
}

.RevModal-background {
  background-color: #000;
  opacity: 0.5;
}

.RevModal-content {
  background-color: $body-bg;
  opacity: 1;
  position: absolute;
  overflow: auto;
  max-width: 80%;
  max-height: 80%;
  top: 10%;
  left: 10%;
}
