<Row>
  <Col>
    <Callout>
      <Menu>
        <Menu.Item active><a href="#">One</a></Menu.Item>
        <Menu.Item><a href="#">Two</a></Menu.Item>
        <Menu.Item><a href="#">Three</a></Menu.Item>
      </Menu>
    </Callout>
  </Col>
</Row>
