<Callout>
  <Menu vertical>
    <Menu.Item text divider>Just Text</Menu.Item>
    <Menu.Item><a href="#">Link One</a></Menu.Item>
    <Menu.Item><a href="#">Link Two</a></Menu.Item>
  </Menu>
</Callout>
