<TopBar breakpointLarge>
  <TopBar.Item>
    <a href="#" className="rev-Brand">LOGO</a>
  </TopBar.Item>
  <TopBarDrawer left>
    <TopBar.Item>
      <Menu className="rev-Menu--horizontalLeft">
        <Menu.Item><a href="#">One</a></Menu.Item>
        <Menu.Item><a href="#">Two</a></Menu.Item>
        <Menu.Item><a href="#">Three</a></Menu.Item>
      </Menu>
    </TopBar.Item>
  </TopBarDrawer>
  <TopBar.Item>
    <Menu className="rev-Menu--horizontalLeft">
      <Menu.Item><a href="#">Log In</a></Menu.Item>
      <Menu.Item><a href="#">Sign Up</a></Menu.Item>
    </Menu>
  </TopBar.Item>
</TopBar>
