<div>
  <Col>
    <h3>Dropdowns</h3>
  </Col>
  <Col>
    <TopBar>
      <TopBar.Item>
        <a href="#" className="rev-Brand">LOGO</a>
      </TopBar.Item>
      <TopBar.Item>
        <Menu horizontalLeft>
          <Menu.Item><a href="#">One</a></Menu.Item>
          <Menu.Item><a href="#">Two</a></Menu.Item>
          <Menu.Item><a href="#">Three</a></Menu.Item>
          <Menu.Item class="rev-Menu-item--hasSubmenu">
            <a href="#">Four</a>
            <Menu nested verticalLeft>
              <Menu.Item><a href="#">Submenu One</a></Menu.Item>
              <Menu.Item><a href="#">Submenu Two</a></Menu.Item>
            </Menu>
          </Menu.Item>
        </Menu>
      </TopBar.Item>
    </TopBar>
  </Col>
</div>
