language: node_js
node_js:
  - '8'
  - '6'
before_deploy:
  - npm install
deploy:
  - provider: npm
    email: $NPM_EMAIL
    api_key: $NPM_TOKEN
    on:
      repo: revelrylabs/possum
      tags: true
      node: '8'
    skip_cleanup: true
  - provider: script
    skip_cleanup: true
    script:
      - npx semantic-release
