<div className="rev-ContentWrapper ExampleDrawerContainer">
  <NewDrawer
    open
    collapsible
    overlay
    expanderChildren="+"
    closerChildren="+"
  >
    <Menu>
      <Menu.Item text>
        <span>This is a drawer that is collapsible and it overlays page content.</span>
      </Menu.Item>
      <Menu.Item>
        <a href="#">one</a>
      </Menu.Item>
      <Menu.Item>
        <a href="#">two</a>
      </Menu.Item>
      <Menu.Item>
        <a href="#">three</a>
      </Menu.Item>
      <Menu.Item>
        <a href="#">four</a>
      </Menu.Item>
      <Menu.Item>
        <a href="#">five</a>
      </Menu.Item>
      <Menu.Item>
        <a href="#">six</a>
      </Menu.Item>
    </Menu>
  </NewDrawer>
  <main className="rev-Content">
    <p><Lipsum /></p>
    <p><Lipsum /></p>
  </main>
</div>
