@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: calc(($height / $width) * 100%);
    width: 100%;
  }
}

.AspectRatio-copy {
  height: 100%;
  left: 0;
  padding: $padding-large;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-index-above;
}
