@mixin body-color-stack {
  background-color: $body-bkgd;
  color: $body-font-color;
}

@mixin body-color-stack-inverted {
  background-color: $body-font-color;
  color: $body-bkgd;
  a {
    @if lightness($anchor-color) > 50% {}
    @else {
      color: $anchor-color-inverse;
      &:hover {
        color: $anchor-color-inverse-hover;
      }
      &:active {
        color: $anchor-color-inverse-active;
      }
    }
  }
}

$navigation-bkgd: $white;
$navigation-bkgd-hover: darken($navigation-bkgd, 8%);
$navigation-bkgd-click: darken($navigation-bkgd, 18%);
$navigation-bkgd-active: darken($navigation-bkgd, 12%);

$navigation-bkgd-inverted: $darker-gray;
$navigation-bkgd-inverted-hover: lighten($navigation-bkgd-inverted, 8%);
$navigation-bkgd-inverted-click: lighten($navigation-bkgd-inverted, 18%);
$navigation-bkgd-inverted-active: lighten($navigation-bkgd-inverted, 12%);

@mixin navigation-color-management {
  a {
    background: $navigation-bkgd;
    &:hover {
      background: $navigation-bkgd-hover;
    }
    &:active {
      background: $navigation-bkgd-click;
    }
  }
  &[class*='--active'] a {
    background: $navigation-bkgd-active;
  }
}

@mixin navigation-color-management-inverted {
  a {
    background: $navigation-bkgd-inverted;
    &:hover {
      background: $navigation-bkgd-inverted-hover;
    }
    &:active {
      background: $navigation-bkgd-inverted-click;
    }
  }
  &[class*='--active'] a {
    background: $navigation-bkgd-inverted-active;
  }
}


$color-list: primary, success, alert, warning, error;
$color-vars: $primary, $success, $alert, $warning, $error;

@mixin color-management {
  // by default we give most things the $primary bkgd-color
  background: $primary;
  @if lightness($primary) > 50% {
    color: $brand-dark;
  }
  @else {
    color: $brand-light;
  }
  @for $i from 1 through length($color-list) {
    // for components that use color vars as props, we find the lightness
    // of the bkgd-color and adjust the font-color accordingly
    &--#{nth($color-list, $i)} {
      background: nth($color-vars, $i);
      @if lightness(nth($color-vars, $i)) > 50% {
        color: $brand-dark;
      }
      @else {
        color: $brand-light;
      }
    }
  }
}

@mixin muted {
  opacity: 0.5;
}
@mixin disabled {
  opacity: 0.35;
}
