@mixin body-color-stack {
  background-color: $body-bkgd;
  color: $body-font-color;
}

@mixin body-color-stack-inverted {
  background-color: $body-font-color;
  color: $body-bkgd;
  a {
    @if lightness($anchor-color) > 50% {}
    @else {
      color: $anchor-color-inverse;
      &:hover {
        color: $anchor-color-inverse-hover;
      }
      &:active {
        color: $anchor-color-inverse-active;
      }
    }
  }
}

@mixin muted {
  opacity: 0.5;
}
@mixin disabled($background: transparent, $color: $disabled) {
  background-color: $background;
  color: $color;
  cursor: not-allowed;
  opacity: $disabled-opacity;
  &:hover,
  &:active,
  &:focus {
    background-color: $background;
    color: $color;
    opacity: $disabled-opacity;
  }
}


// NAVIGATION COLORS
$navigation-bkgd: $white-0 !default;
$navigation-color: $anchor-color !default;
// hover navigation colors
$navigation-bkgd-hover: $black-06 !default;
$navigation-color-hover: $anchor-color-hover !default;
// onClick navigation colors
$navigation-bkgd-active: $black-10 !default;
$navigation-color-active: $anchor-color-active !default;
// selected state colors are reversed
$navigation-bkgd-selected: $navigation-color !default;
$navigation-color-selected: $anchor-color-inverse !default;
// disabled navigation
$navigation-color-disabled: $disabled !default;
$navigation-bkgd-disabled: $navigation-bkgd !default; // will have disabled-opacity

// NOTE: Use this mixin when the disabled class is not added to the same
// element that the navigation-color-mgmt mixin is included on. Ex: Pagination.

@mixin navigation-color-mgmt {
  a {
    background-color: $navigation-bkgd;
    color: $navigation-color;
    &:hover {
      background-color: $navigation-bkgd-hover;
      color: $navigation-color-hover;
    }
    &:active,
    &:focus {
      background-color: $navigation-bkgd-active;
      color: $navigation-color-active;
    }
  }
  &[class*='--selected'] a {
    background-color: $navigation-bkgd-selected;
    color: $navigation-color-selected;
  }
  &[class*='--disabled'] {
    a,
    a:hover,
    a:active,
    a:focus {
      @include disabled;
    }
  }
}

$color-list: primary, success, alert, warning, error;
$color-vars: $primary, $success, $alert, $warning, $error;

@mixin color-management {
  // by default we give most things the $primary bkgd-color
  background: $primary;
  @if lightness($primary) > 65% {
    color: $darker-gray;
  }
  @else {
    color: $lightest-gray;
  }
  @for $i from 1 through length($color-list) {
    // for components that use color vars as props, we find the lightness
    // of the bkgd-color and adjust the font-color accordingly
    &--#{nth($color-list, $i)} {
      background: nth($color-vars, $i);
      @if lightness(nth($color-vars, $i)) > 50% {
        color: $darker-gray;
      }
      @else {
        color: $lightest-gray;
      }
    }
  }
}


$stateful-item-color: $dark-gray !default;
$stateful-item-color-hover: darken($stateful-item-color, 10%) !default;
$stateful-item-color-active: $primary !default;
$stateful-item-color-selected: $primary !default;
$stateful-item-color-disabled: $disabled !default;
$stateful-item-bkgd: $white !default;
$stateful-item-bkgd-hover: $lightest-gray !default;
$stateful-item-bkgd-active: $stateful-item-bkgd !default;
$stateful-item-bkgd-selected: $lightest-gray !default;
$stateful-item-bkgd-disabled: $stateful-item-bkgd !default;
$stateful-item-bkgd-disabled-hover: $stateful-item-bkgd-disabled !default;

@mixin stateful-color-mgmt {
  background: $stateful-item-bkgd;
  color: $stateful-item-color;
  &:hover {
    background: $stateful-item-bkgd-hover;
    color: $stateful-item-color-hover;
  }
  &:active,
  &:focus {
    background: $stateful-item-bkgd-active;
    color: $stateful-item-color-active;
  }
  [class*='--selected'] & {
    background: $stateful-item-bkgd-selected;
    color: $stateful-item-color-selected;
  }
  &[class*='--disabled'] {
    background: $stateful-item-bkgd-disabled;
    color: $stateful-item-color-disabled;
    cursor: not-allowed;
    &:hover {
      background: $stateful-item-bkgd-disabled-hover;
    }
  }
}
