@mixin body-color-stack {
  background-color: $body-bkgd;
  color: $body-font-color;
}

@mixin body-color-stack-inverted {
  background-color: $body-font-color;
  color: $body-bkgd;
  a {
    @if lightness($anchor-color) > 50% {}
    @else {
      color: $anchor-color-inverse;
      &:hover {
        color: $anchor-color-inverse-hover;
      }
      &:active {
        color: $anchor-color-inverse-active;
      }
    }
  }
}

$navigation-color: $anchor-color !default;
$navigation-color-hover: $anchor-color-hover !default;
$navigation-color-selected: $white !default;
$navigation-color-active: $navigation-color-selected; // When you clic !defaultk
$navigation-color-disabled: $navigation-color; // When you clic !defaultk
$navigation-bkgd: $white !default;
$navigation-bkgd-hover: darken($navigation-bkgd, 5%) !default;
$navigation-bkgd-selected: $primary !default;
$navigation-bkgd-active: $navigation-bkgd-selected; // When you clic !defaultk
$navigation-bkgd-disabled: $navigation-bkgd; // When you clic !defaultk

$navigation-color-inverted: $white !default;
$navigation-color-inverted-hover: darken($navigation-color-inverted, 10%) !default;
$navigation-color-inverted-selected: $white !default;
$navigation-color-inverted-active: $navigation-color-selected; // When you clic !defaultk
$navigation-color-inverted-disabled: $navigation-color-inverted; // When you clic !defaultk
$navigation-bkgd-inverted: $darker-gray !default;
$navigation-bkgd-inverted-hover: lighten($navigation-bkgd-inverted, 5%) !default;
$navigation-bkgd-inverted-selected: $anchor-color !default;
$navigation-bkgd-inverted-active: $navigation-bkgd-inverted-selected !default;
$navigation-bkgd-inverted-disabled: $navigation-bkgd-inverted !default;

// NOTE: Use this mixin when the disabled class is not added to the same
// element that the navigation-color-mgmt mixin is included on. Ex: Pagination.

@mixin navigation-color-mgmt {
  a {
    background: $navigation-bkgd;
    color: $navigation-color;
    &:hover,
    &:focus {
      background: $navigation-bkgd-hover;
      color: $navigation-color-hover;
    }
    &:active {
      background: $navigation-bkgd-active;
      color: $navigation-color-active;
    }
  }
  &[class*='--selected'] a {
    background: $navigation-bkgd-selected;
    color: $navigation-color-selected;
  }
  &[class*='--disabled'] a {
    @include disabled;
    background: $navigation-bkgd-disabled;
    color: $navigation-color-disabled;
    cursor: not-allowed;
  }
}

@mixin navigation-color-mgmt-inverted {
  a {
    background: $navigation-bkgd-inverted;
    color: $navigation-color-inverted;
    &:hover,
    &:focus {
      background: $navigation-bkgd-inverted-hover;
      color: $navigation-color-inverted-hover;
    }
    &:active {
      background: $navigation-bkgd-inverted-active;
      color: $navigation-color-inverted-active;
    }
  }
  &[class*='--selected'] a {
    background: $navigation-bkgd-inverted-selected;
    color: $navigation-color-inverted-selected;
  }
  &[class*='--disabled'] a {
    @include disabled;
    background: $navigation-bkgd-inverted-disabled;
    color: $navigation-color-inverted-disabled;
    cursor: not-allowed;
  }
}

$color-list: primary, success, alert, warning, error;
$color-vars: $primary, $success, $alert, $warning, $error;

@mixin color-management {
  // by default we give most things the $primary bkgd-color
  background: $primary;
  @if lightness($primary) > 65% {
    color: $brand-dark;
  }
  @else {
    color: $brand-light;
  }
  @for $i from 1 through length($color-list) {
    // for components that use color vars as props, we find the lightness
    // of the bkgd-color and adjust the font-color accordingly
    &--#{nth($color-list, $i)} {
      background: nth($color-vars, $i);
      @if lightness(nth($color-vars, $i)) > 50% {
        color: $brand-dark;
      }
      @else {
        color: $brand-light;
      }
    }
  }
}

@mixin muted {
  opacity: 0.5;
}
@mixin disabled {
  opacity: $disabled-opacity;
}
