@mixin image-blur {
  height: auto;
  left: -$padding-base;
  max-width: 1000%;
  position: absolute;
  top: -$padding-base;
  width: 100%;
  @supports (filter: blur(8px)) {
    filter: $blur-enabled;
    height: calc(100% + (#{$padding-base} + #{$padding-base}));
    object-fit: cover;
    width: calc(100% + (#{$padding-base} + #{$padding-base}));
  }
}
