@mixin small-input {
  line-height: $base-lineheight;
  // Margins set so the resulting button will be 4 ver units high
  margin-bottom: $global-padding-small;
  padding: $global-padding-tiny $global-padding;
}
