@mixin striped-table ($odd: $white, $even: $disabled) {
  tr:nth-child(odd) {
    td {
      background-color: $odd;
    }
  }
  tr:nth-child(even) {
    td {
      background-color: $even;
    }
  }
}
