@use '../vars' as *;

@mixin horizontal-scroll-container($width: 100%) {
  display: block;
  overflow-x: scroll;
  width: $width;
}
.rev-HorizontalScrollContainer {
  @include horizontal-scroll-container;
}
@mixin vertical-scroll-container($height: 500px) {
  max-height: $height;
  overflow-y: scroll;
}
.rev-VerticalScrollContainer {
  @include vertical-scroll-container;
}
