<section>
  <Row className="rev-Featured rev-Featured--center">
    <Col medium={6} large={4}>
      <h3>Lipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </Col> 
    <Col medium={6} large={4}>
      <h3>Finibus Bonorum</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </Col> 
    <Col medium={6} large={4}>
      <h3>Et Malorum</h3>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </Col> 
  </Row>
</section>
