<section className="rev-Hero">
  <Row>
    <Col large={6}>
      <h6>Harmonium</h6>
      <h1>Components and styles that play nice</h1>
      <p className="rev-Lead">Speed up development with Harmonium, a design system paired with React components for a cohesive UI framework.</p>
      <Button primary>Get Started!</Button>
    </Col>
  </Row>
</section>
