<div style={{border: '1px solid black', height: '1000px'}}>
  <Sticky.Container>
    <Sticky stickToBottom>
      <span>
        This is an example of a Sticky that sticks to the bottom.
        This is done by passing the stickToBottom prop into the component.
      </span>
    </Sticky>
  </Sticky.Container>
</div>
