<Sticky.Stateful offset="100px" style={{border: '1px solid black', paddingBottom: '1000px'}}>
  <span>
    This is an example of a stateful Sticky with a top offset.
    The offset in this case will prevent the content from sticking until the top of 
    the viewport has passed the offset amount of px down from the top of the container.
  </span>
</Sticky.Stateful>
