<div style={{display: 'flex'}}>
  <div style={{display: 'flex', flexFlow: 'column', justifyContent: 'space-around'}}>
    <div id="topAnchor3">
      The top of this element is being used as a top anchor.
    </div>

    <div id="bottomAnchor3">
      The bottom of this element is being used as a bottom anchor.
    </div>
  </div>

  <Sticky.Container style={{border: '1px solid black', height: '1000px'}}>
    <Sticky stickToBottom topAnchor="topAnchor3" topOffset={50} bottomAnchor="bottomAnchor3:bottom" bottomOffset={-50}>
      <span>
        This is an example of a Sticky that has offsets.
        This is done by passing a number into the topOffset and/or bottomOffset prop(s).
        These two props allow you to fine tune sticking/unsticking
        a distance in px with respect to the anchors.
      </span>
    </Sticky>
  </Sticky.Container>
</div>