<Sticky.Container style={{border: '1px solid black', height: '1000px'}}>
  <Sticky>
    <span>
      This is an example of a default Sticky.
      Borders provide visual clarity to see exactly when this sticks/unsticks.
    </span>
  </Sticky>
</Sticky.Container>
