$test: #F0F;

// BRAND COLORS
$brand-blue: #1D71B8;
$brand-revelry: #FCDB40;
$brand-dark: #303030; // usually $body-font-color
$brand-light: #F0F0F0; // usually $body-bkgd
$brand-green: #2fac66;
$brand-red: #E31D1A;
$brand-orange: #E56634;

$white: #FFF;
$lightest-gray: $brand-light;
$lighter-gray: #D0D0D0;
$light-gray: #CCC;
$gray: #9B9B9B;
$dark-gray: #4F4F4F;
$darker-gray: $brand-dark;
$black: #000;

$white-0: rgba(255, 255, 255, 0); // for animation purposes
$white-05: rgba(255, 255, 255, 0.05);
$white-10: rgba(255, 255, 255, 0.1);
$white-20: rgba(255, 255, 255, 0.2);
$white-30: rgba(255, 255, 255, 0.3);
$white-40: rgba(255, 255, 255, 0.4);
$white-50: rgba(255, 255, 255, 0.5);
$white-60: rgba(255, 255, 255, 0.6);
$white-70: rgba(255, 255, 255, 0.7);
$white-80: rgba(255, 255, 255, 0.8);
$white-90: rgba(255, 255, 255, 0.9);
$black-0: rgba(0, 0, 0, 0); // for animation purposes
$black-025: rgba(0, 0, 0, 0.025);
$black-05: rgba(0, 0, 0, 0.05);
$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);
$black-60: rgba(0, 0, 0, 0.6);
$black-70: rgba(0, 0, 0, 0.7);
$black-80: rgba(0, 0, 0, 0.8);
$black-90: rgba(0, 0, 0, 0.9);

// UTILITY COLORS
$primary: $brand-blue;
$secondary: $brand-dark;
$tertiary: $brand-light;
$accent: $brand-revelry;
$success: $brand-green;
$alert: $brand-red;
$warning: $brand-orange;
$error: $brand-red;

$body-bkgd: $brand-light;
$body-font-color: $brand-dark;
$header-color: $body-font-color;

$divider-color: $black-10;
$muted: $lighter-gray;
$very-muted: $lightest-gray;
$disabled: $lighter-gray;


@mixin color-stack($bg) {
  background-color: $bg;
  @if lightness($bg) < lightness(#888) {
    color: $body-bkgd;
    a {
      color: $body-bkgd;
    }
  }
  @else {
    color: $body-font-color;
  }
}

@mixin primary-color-stack {
  background-color: $primary;
  @if lightness($primary) > lightness(#666) {
    color: $body-bkgd;
    a {
      color: $body-bkgd;
    }
  }
  @else {
    color: $body-font-color;
  }
}

@mixin muted-color-stack {
  background-color: $muted;
  @if lightness($muted) > lightness(#666) {
    color: $body-font-color;
  }
  @else {
    color: $body-bkgd;
  }
}

@mixin very-muted-color-stack {
  background-color: $very-muted;
  @if lightness($very-muted) > lightness(#666) {
    color: $body-font-color;
  }
  @else {
    color: $body-bkgd;
  }
}

@mixin alert-color-stack {
  background-color: $alert;
  border-color: mix($alert, $white, 33%);
  color: mix($alert, $white, 33%);
}
