$color-white: #FFFFFF !default;
$color-lightest-gray: #F4F4F4 !default;
$color-lighter-gray: #D5D5D5 !default;
$color-light-gray: #ABABAB !default;
$color-gray: #818181 !default;
$color-dark-gray: #565656 !default;
$color-darker-gray: #2A2A2A !default;
$color-black: #000000 !default;
$color-white-0: rgba(255, 255, 255, 0) !default; // For animation purposes
$color-white-03: rgba(255, 255, 255, 0.03) !default;
$color-white-06: rgba(255, 255, 255, 0.06) !default;
$color-white-10: rgba(255, 255, 255, 0.1) !default;
$color-white-20: rgba(255, 255, 255, 0.2) !default;
$color-white-30: rgba(255, 255, 255, 0.3) !default;
$color-white-40: rgba(255, 255, 255, 0.4) !default;
$color-white-50: rgba(255, 255, 255, 0.5) !default;
$color-white-60: rgba(255, 255, 255, 0.6) !default;
$color-white-70: rgba(255, 255, 255, 0.7) !default;
$color-white-80: rgba(255, 255, 255, 0.8) !default;
$color-white-90: rgba(255, 255, 255, 0.9) !default;
$color-black-0: rgba(0, 0, 0, 0) !default; // For animation purposes
$color-black-03: rgba(0, 0, 0, 0.03) !default;
$color-black-06: rgba(0, 0, 0, 0.06) !default;
$color-black-10: rgba(0, 0, 0, 0.1) !default;
$color-black-20: rgba(0, 0, 0, 0.2) !default;
$color-black-30: rgba(0, 0, 0, 0.3) !default;
$color-black-40: rgba(0, 0, 0, 0.4) !default;
$color-black-50: rgba(0, 0, 0, 0.5) !default;
$color-black-60: rgba(0, 0, 0, 0.6) !default;
$color-black-70: rgba(0, 0, 0, 0.7) !default;
$color-black-80: rgba(0, 0, 0, 0.8) !default;
$color-black-90: rgba(0, 0, 0, 0.9) !default;
$color-divider: rgba(0, 0, 0, 0.1) !default;
$color-divider-dark: rgba(0, 0, 0, 0.2) !default;
$color-divider-light: rgba(255, 255, 255, 0.1) !default;
$color-muted: #D5D5D5 !default;
$color-very-muted: #F4F4F4 !default;
$color-disabled: #ABABAB !default;
$color-brand-primary: #295DE5 !default;
$color-brand-secondary: #6422EB !default;
$color-brand-tertiary: #501BBC !default;
$color-ui-primary: #295DE5 !default;
$color-ui-success: #00A67F !default;
$color-ui-alert: #D94011 !default;
$color-ui-warning: #D10034 !default;
$color-ui-error: #D10034 !default;