// Sizes
$small: 0px;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

$global-width: 100%;
$grid-row-width: $large;

// Breakpoints
$breakpoints: (
  small: (min-width: $small),
  small-only: ((min-width: $small) and (max-width: $medium)),
  medium: (min-width: $medium),
  medium-down: ((max-width: $medium)),
  medium-only: ((min-width: $medium) and (max-width: $large)),
  large: (min-width: $large),
  large-down: ((max-width: $large)),
  large-only: ((min-width: $large) and (max-width: $xlarge)),
  xlarge: (min-width: $xlarge),
  xlarge-down: ((max-width: $xlarge)),
  xlarge-only: ((min-width: $xlarge) and (max-width: $xxlarge)),
  xxlarge: (min-width: $xxlarge),
  global-width: (min-width: $global-width),
);
@import '../mixins/media-queries';

// IMPORT FONTS HERE

// Global Fonts
$global-monospace-font: 'Montserrat', sans-serif;
$global-serif-font: 'Georgia', serif;
$global-sans-serif-font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

// we use the global-font-sizes for typographic utilities
// AND to determine vertical spacing
$global-font-size: 1.6rem;
$global-font-size-tiny: $global-font-size * 0.5;
$global-font-size-smaller: $global-font-size * 0.75;
$global-font-size-small: $global-font-size * 0.875;
$global-font-size-medium: $global-font-size * 1.5;
$global-font-size-large: $global-font-size * 2;
$global-font-size-larger: $global-font-size * 2.5;
$global-font-size-largest: $global-font-size * 3;

// Headers (rems or unit-less values only!)
$h1: $global-font-size-largest;
$h2: $global-font-size-larger;
$h3: $global-font-size-large;
$h4: $global-font-size-medium;
$h5: $global-font-size;
$h6: $global-font-size;
//TODO: make sass map for header sizes with breakpoints for small/large

$global-weight-light: 300;
$global-weight-normal: 400;
$global-weight-bold: 700;
$global-lineheight: 1.5;
$base-lineheight: $global-lineheight * $global-font-size;

$grid-columns: 12;

// Spacing
$global-vertical-space: $global-font-size * $global-lineheight; // 24px
$global-horizontal-space: $global-vertical-space; // 24px
$base-size: .8rem;

// Global Padding
$global-padding-tiny: $global-vertical-space / 4;  // 6px
$global-padding-small: $global-vertical-space / 2; // 12px
$global-padding: $global-vertical-space; // 24px
$global-padding-large: $global-vertical-space * 2; // 48px
$global-padding-larger: $global-vertical-space * 3; // 72px

// Global Margin
$global-margin-tiny: $global-padding-tiny;
$global-margin-small: $global-padding-small;
$global-margin: $global-padding;
$global-margin-large: $global-padding-large;
$global-margin-larger: $global-padding-larger;

// Grid
$grid-column-padding: $global-padding-small;
$grid-gutter: $grid-column-padding * 2;

$global-radius: 3px;
$global-rounded: 100000px;
$global-box-shadow: 0 1px 4px 0 $black-40;
$global-box-shadow-hover: 0 2px 6px 0 $black-50;
$global-box-shadow-active: 0 1px 2px 0 $black-30;

// Body Vars
$body-bkgd: $brand-light;
$body-font-color: $brand-dark;
$body-font-family: $global-sans-serif-font;

// Header Vars
$header-color: $body-font-color;
$header-font-family: $global-sans-serif-font;
$header-font-style: normal;
$header-font-weight: $global-weight-normal;

$subheader-color: $header-color;
$header-font-family: $global-sans-serif-font;
$subheader-font-weight: $global-weight-normal;

// Paragraph Vars
$paragraph-lineheight: $global-lineheight;
$paragraph-margin-bottom: $global-vertical-space;
$paragraph-text-rendering: optimizeLegibility;

// Anchor Vars
$anchor-color: $primary;
$anchor-color-hover: darken($primary, 10%);
$anchor-color-active: darken($primary, 10%);
$anchor-color-selected: darken($primary, 10%);
$anchor-color-inverse: $brand-light;
$anchor-color-inverse-hover: $white;
$anchor-color-inverse-active: $white;
$anchor-color-inverse-selected: $white;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;

// HR Vars
$hr-width: $global-width;
$hr-border: 1px solid $divider-color;
$hr-margin: $global-padding-large auto;

// Image Blur
$image-blur: blur(8px);
$no-image-blur: blur(0px);

$disabled-opacity: 0.25;

// Sizes
// common size vars for things like badges, close buttons, fixed naviagtion bars
$size-tiny: 8px;
$size-small: 16px;
$size-default: 24px;
$size-large: 48px;
$size-larger: 64px;
$size-largest: 128px;

//## NAVIGATION COLORS
$navigation-bkgd: $white;
$navigation-bkgd-hover: darken($navigation-bkgd, 10%);
$navigation-bkgd-click: darken($navigation-bkgd, 20%);
$navigation-bkgd-active: darken($navigation-bkgd, 15%);

$navigation-bkgd-inverted: $darker-gray;
$navigation-bkgd-inverted-hover: lighten($navigation-bkgd-inverted, 10%);
$navigation-bkgd-inverted-click: lighten($navigation-bkgd-inverted, 20%);
$navigation-bkgd-inverted-active: lighten($navigation-bkgd-inverted, 15%);

//## LAYOUTS
//$rail-width: 300px;

//** Component Vars are commented out here because each compnent has its !default vars set at the top of the component stylesheet. If vars need to be updated, you can uncomment them below and make your changes. Vars below will always override the !default vars in the component stylesheets

// Example component var naming
// $[component]-[css property]-[variant]-[state]

//## NAVIGATION -----------------------------
//$topbar-bkgd: $white;
//$topbar-border-color: $divider-color;
//$topbar-border-size: 1px;
//$topbar-color: $body-font-color;
//$topbar-height: $size-larger;
//$topbar-input-width: $size-largest;
//$topbar-link-bkgd: transparent;

//## CONTAINERS -----------------------------

//## Accordions
//$accordion-border-size: 1px;
//$accordion-border-color: $divider-color;
//$accordion-title-bkgd: $white;
//$accordion-title-color: $anchor-color;
//$accordion-title-bkgd-hover: $accordion-title-bkgd;
//$accordion-title-color-hover: $anchor-color-hover;
//$accordion-title-bkgd-active: $accordion-title-bkgd;
//$accordion-title-color-active: $anchor-color-active;
//$accordion-title-bkgd-selected: $anchor-color-selected;
//$accordion-title-color-selected: $accordion-title-bkgd;
//$accordion-content-bkgd: $white;

//## Callouts
//$callout-bkgd: $white;
//$callout-border-size: 1px;
//$callout-border-color: $divider-color;
//$callout-color: $body-font-color;
//$callout-padding: $global-vertical-space $global-horizontal-space;

//## Cards
//$card-background: $white;
//$card-border: 1px solid $divider-color;
//$card-padding: 0;
//$card-radius: $global-radius;
//$card-header-background: $white;
//$card-footer-background: $white;

//## Menus
//$menu-bkgd: $white;
//$menu-color: $body-font-color;
//$menu-link-bkgd: transparent;
//$menu-link-bkgd-hover: transparent;
//$menu-link-bkgd-active: transparent;
//$menu-link-bkgd-selected: $anchor-color-selected;
//$menu-link-color: $anchor-color;
//$menu-link-color-hover: $anchor-color-hover;
//$menu-link-color-active: $anchor-color-active;
//$menu-link-color-selected: $menu-bkgd;

//$menu-bkgd-inverse: $brand-dark;
//$menu-color-inverse: $brand-light;
//$menu-link-bkgd-inverse: transparent;
//$menu-link-bkgd-inverse-hover: transparent;
//$menu-link-bkgd-inverse-active: transparent;
//$menu-link-bkgd-inverse-selected: $anchor-color-selected;
//$menu-link-color-inverse: $anchor-color-inverse;
//$menu-link-color-inverse-hover: $anchor-color-inverse-hover;
//$menu-link-color-inverse-active: $anchor-color-inverse-active;
//$menu-link-color-inverse-selected: $menu-bkgd-inverse;

//## Modals
//$modal-bkgd: $black-40;
//$modal-content-bkgd: $white;
//$modal-content-border-size: 1px;
//$modal-content-border-color: $divider-color;
//$modal-content-box-shadow: $global-box-shadow;
//$modal-content-color: $body-font-color;
//$modal-content-padding: 0;

//## Tabs
//$tabs-margin: $global-margin;
//$tabs-border-size: 1px;
//$tabs-border-color: $divider-color;
//$tabs-titles-bkgd: $white;
//$tabs-title-link-bkgd: transparent;
//$tabs-title-link-color: $anchor-color;
//$tabs-title-link-bkgd-hover: transparent;
//$tabs-title-link-color-hover: $anchor-color-hover;
//$tabs-title-link-bkgd-active: transparent;
//$tabs-title-link-color-active: $anchor-color-active;
//$tabs-title-link-bkgd-selected: $anchor-color-selected;
//$tabs-title-link-color-selected: $tabs-titles-bkgd;
//$tabs-title-link-padding: $global-padding-small $global-padding;
//$tabs-content-bkgd: $white 0;
//$tabs-content-padding: $global-padding 0;

//## FORMS -----------------------------

//$input-bkgd: $white;
//$input-bkgd-focus: $input-bkgd;
//$input-box-shadow: 0 0 0 1px $divider-color inset;
//$input-box-shadow-focus: 0 0 0 1px $divider-color-dark inset;
//$input-radius: $global-radius;
//$input-color: $body-font-color;
//$input-color-focus: $input-color;
//$input-font-size: $global-font-size;
//$label-color: $body-font-color;
//$label-font-size: $global-font-size;

//## Badges
//$badge-size: $size-small;

//## Close Buttons
//$close-bkgd: $body-font-color;
//$close-color: $body-bkgd;
//$close-size: $size-default;

//## Help Text
//$help-text-color: $gray;

//## Progress
//$progress-radius: $global-rounded;
//$progress-meter-height: $size-tiny;
//$progress-meter-bkgd: $brand-dark;
