<Row className="ExampleButtons">
  <Col>
    <Button>Default/Primary</Button>
    <Button secondary>Secondary</Button>
    <Button inverted>Inverted</Button>
    <Button disabled>Disabled</Button>
    <Button success>Success</Button>
    <Button warning>Warning</Button>
    <Button alert>Alert</Button>
  </Col>
</Row>
