<Table horizontalScroll>
  <Table.Head>
    <Table.Row>
      <Table.Header>
        Table Header
      </Table.Header>
      <Table.Header>
        Table Headers Dictate Col Width
      </Table.Header>
      <Table.Header>
        Really Long Table Header Means a Really Wide Column
      </Table.Header>
      <Table.Header>
        Table Header
      </Table.Header>
      <Table.Header>
        Table Header
      </Table.Header>
      <Table.Header>
        Table Header
      </Table.Header>
      <Table.Header>
        Table Header
      </Table.Header>
      <Table.Header>
        Table Header
      </Table.Header>
      <Table.Header>
        Table Header
      </Table.Header>
    </Table.Row>
  </Table.Head>
  <Table.Body>
    <Table.Row>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
    </Table.Row>
    <Table.Row>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
    </Table.Row>
    <Table.Row>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
      <Table.Data>
        Table Row text
      </Table.Data>
    </Table.Row>
  </Table.Body>
</Table>
