@mixin header {
  font-family: $global-sans-serif-font;
}
@mixin sans-serif-light {
  font-family: $global-sans-serif-font;
  font-weight: 300;
}
@mixin muted {
  opacity: 0.45;
}

h1 {
  @include header;
  font-size: $global-font-size-larger;
  line-height: $global-vertical-space;
  margin-bottom: $global-vertical-space * 1;
  margin-top: $global-vertical-space * 2;
  text-transform: uppercase;
  vertical-align: baseline;
}
h2 {
  @include header;
  font-size: $global-font-size-large;
  line-height: $global-vertical-space;
  margin-bottom: $global-vertical-space * 1;
  margin-top: $global-vertical-space * 2;
  text-transform: uppercase;
}
h3 {
  @include header;
  font-size: $global-font-size;
  margin-bottom: 0;
  margin-top: $global-vertical-space * 1;
  text-transform: uppercase;
}
h4 {
  @include header;
  font-size: $global-font-size;
  line-height: $global-vertical-space;
  margin-bottom: 0;
  margin-top: $global-vertical-space * 2;
  text-transform: uppercase;
}
h5 {
  @include header;
  font-size: $global-font-size;
  font-weight: lighter;
  line-height: $global-vertical-space;
  margin-bottom: 0;
  margin-top: $global-vertical-space * 1;
  text-transform: uppercase;
}
h6 {
  @include header;
  font-size: $global-font-size;
  font-weight: lighter;
  line-height: $global-vertical-space;
  margin-bottom: 0;
  margin-top: $global-vertical-space * 1;
}
p {
  margin: 0 0 $global-vertical-space 0;
  max-width: 40em;
  padding: 0;
}
a {
  color: $primary;
  text-decoration: none;
}
.rev-HelpText,
small {
  font-size: 75%;
}
