.rev-FileInput.is-invalid {
  .rev-InputGroup-field {
    /*@include form-input-error;*/
    /*color: $form-label-color-invalid;*/
  }
}



.rev-FileInput {
  .rev-InputGroup-field {
    flex: 1;
  }
  .rev-FileInput-fileLabel {
  }
}
