// Flex ROWS
.rev-Row--flex,
.rev-Row--smallFlex, {
  display: flex;
  flex-flow: row wrap;
  &:before,
  &:after {
    content: none;
  }
  .rev-Col {
    flex: 1 1 0px;
  }
  .shrink {
    flex: 0 0 auto;
  }
}
.rev-Row--unflex,
.rev-Row--smallUnflex {
  display: block;
}
@include breakpoint(medium) {
  .rev-Row--mediumFlex {
    display: flex;
  }
  .rev-Row--mediumUnflex {
    display: block;
  }
}
@include breakpoint(large) {
  .rev-Row--largeFlex {
    display: flex;
  }
  .rev-Row--largeUnflex {
    display: block;
  }
}
@include breakpoint(xlarge) {
  .rev-Row--xlargeFlex {
    display: flex;
  }
  .rev-Row--xlargeUnflex {
    display: block;
  }
}
@include breakpoint(xxlarge){
  .rev-Row--xxlargeFlex {
    display: flex;
  }
  .rev-Row--xxlargeUnflex {
    display: block;
  }
}
// Direction Col
.rev-Row--directionCol {
  @include flexDirectionCol;
}
// Justify Content
.rev-Row--justifyStart {
  @include flexJustifyStart;
}
.rev-Row--justifyEnd {
  @include flexJustifyEnd;
}
.rev-Row--justifyCenter {
  @include flexJustifyCenter;
}
.rev-Row--justifySpaceAround {
  @include flexJustifySpaceAround;
}
.rev-Row--justifySpaceBetween {
  @include flexJustifySpaceBetween;
}
// Align Items
.rev-Row--alignStart {
  @include flexAlignStart;
}
.rev-Row--alignEnd {
  @include flexAlignEnd;
}
.rev-Row--alignCenter {
  @include flexAlignCenter;
}
.rev-Row--alignStretch {
  @include flexAlignStretch;
}
.rev-Row--alignBaseline {
  @include flexAlignBaseline;
}
