<Row>
  <Col>
    <h3>Default (Responsive) DataGrid</h3>
    <p>The default DataGrid stacks for small screens. You can adjust this by updating the global <code>$data-grid-breakpoint</code> variable in harmonium-settings or you can add <code>stackFor[Size]</code> props to specific DataGrids.</p>

    <DataGrid>
      <DataGrid.HeaderRow>
        <DataGrid.HeaderCol medium={4}>
          <strong>Column Header</strong>
        </DataGrid.HeaderCol>
        <DataGrid.HeaderCol medium={4}>
          <strong>Column Header</strong>
        </DataGrid.HeaderCol>
        <DataGrid.HeaderCol medium={4}>
          <strong>Column Header</strong>
        </DataGrid.HeaderCol>
      </DataGrid.HeaderRow>

      <DataGrid.HeaderRowStacked>
        <DataGrid.HeaderCol>
          <strong>Column Header</strong>
        </DataGrid.HeaderCol>
      </DataGrid.HeaderRowStacked>

      <DataGrid.Body>
        <DataGrid.Row>
          <DataGrid.Col medium={4}>
            <DataGrid.HeaderInline>Column Header:</DataGrid.HeaderInline>
            DataGrid text text here
          </DataGrid.Col>
          <DataGrid.Col medium={4}>
            <DataGrid.HeaderInline>Column Header:</DataGrid.HeaderInline>
            DataGrid text longer
          </DataGrid.Col>
          <DataGrid.Col medium={4}>
            <DataGrid.HeaderInline>Column Header:</DataGrid.HeaderInline>
            DataGrid text longer long
          </DataGrid.Col>
        </DataGrid.Row>
        <DataGrid.Row>
          <DataGrid.Col medium={4}>
            <DataGrid.HeaderInline>Column:</DataGrid.HeaderInline>
            DataGrid text longer long long here
          </DataGrid.Col>
          <DataGrid.Col medium={4}>
            <DataGrid.HeaderInline>Column Header Longer Text:</DataGrid.HeaderInline>
            DataGrid text longer long long text here
          </DataGrid.Col>
          <DataGrid.Col medium={4}>
            <DataGrid.HeaderInline>Column Header Header Head Head:</DataGrid.HeaderInline>
            DataGrid text longer long long long text here
          </DataGrid.Col>
        </DataGrid.Row>
        <DataGrid.Row>
          <DataGrid.Col medium={4}>
            <DataGrid.HeaderInline>Column Header:</DataGrid.HeaderInline>
            DataGrid text longer long long long text here
          </DataGrid.Col>
          <DataGrid.Col medium={4}>
            <DataGrid.HeaderInline>Column Header:</DataGrid.HeaderInline>
            DataGrid text longer long long long text here
          </DataGrid.Col>
          <DataGrid.Col medium={4}>
            <DataGrid.HeaderInline>Column Header:</DataGrid.HeaderInline>
            DataGrid text longer long long long text here
          </DataGrid.Col>
        </DataGrid.Row>
      </DataGrid.Body>
    </DataGrid>
  </Col>
</Row>
