.u-bkgdPrimary {
  background: $color-brand-primary;
}
.u-bkgdSecondary {
  background: $color-brand-secondary;
}
.u-bkgdTertiary {
  background: $color-brand-tertiary;
}

.u-bkgdColorLightestGray {
  background: $color-lightest-gray;
}
