@mixin element-invisible {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.u-hidden {
  visibility: hidden;
}
.u-hide {
  display: none;
}
.u-showForSR {
  @include element-invisible;
}
@include breakpoint($small medium)  {
  .u-hidden--smallOnly {
    visibility: hidden;
  }
  .u-hide--smallOnly {
    display: none;
  }
}
@include breakpoint($medium) {
  .u-hidden--mediumUp {
    visibility: hidden;
  }
  .u-hide--mediumUp {
    display: none;
  }
}
@include breakpoint($large)  {
  .u-hidden--largeUp {
    visibility: hidden;
  }
  .u-hide--largeUp {
    display: none;
  }
}
@include breakpoint($xlarge)  {
  .u-hidden--xlargeUp {
    visibility: hidden;
  }
  .u-hide--xlargeUp {
    display: none;
  }
}
@include breakpoint($xxlarge)  {
  .u-hidden--xxlargeUp {
    visibility: hidden;
  }
  .u-hide--xxlargeUp {
    display: none;
  }
}
