<div>
  <Input type="password" defaultValue="password" error />
  <Input.Stack 
    type="password" 
    defaultValue="password" 
    label="Password" 
  />
  <Input type="file" error />
  <Input.Stack 
    type="file" 
    label="File upload" 
    help="File must be PDF." 
    error="File was not PDF!" 
  />
</div>
