<Row flex>
  <ExpandingCol.Stateful small={6} shrink>
    <Callout primary>
      This state will be shown or hidden with the buttons.
    </Callout>
  </ExpandingCol.Stateful>
  <Col>
    This is outside the expander.
  </Col>
</Row>
