@import '../../../scss/app';
@import url('https://use.typekit.net/qqm8vsn.css');
@import './prism-lucario-theme.scss';

@mixin alert-color-stack {
  background-color: $color-ui-alert;
  border-color: mix($color-ui-alert, $color-white, 33%);
  color: mix($color-ui-alert, $color-white, 33%);
}

// TYPOGRAPHY

// Proxima Nova Headers for docs only
h1,
h2,
h3,
h4 {
  font-family: 'proxima-nova', $font-family-sans-serif;
  font-weight: 500;
}

//TODO incorporate this into typography styles
h1 {
  font-size: 36px;
  line-height: 48px;
  margin: 0;
  padding: $padding-large 0 $padding-small;
}

h2 {
  font-size: 32px;
  line-height: 48px;
}

h5,
h6 {
  font-weight: normal;
  letter-spacing: 1px;
  padding: $padding-base 0 0;
  text-transform: uppercase;
}

code {
  background: darken($color-lightest-gray, 1%);
  border: 1px solid $color-black-03;
  padding: 0 5px;
}

.CodeMirror.CodeMirror {
  height: auto;
}

.CodeMirror-line.CodeMirror-line {
  font-size: $font-size-small;
  line-height: $spacing-base;
  padding: 0;
}

.CodeMirror-lines.CodeMirror-lines {
  padding: $spacing-base / 4 0;
}

.CodeMirror-scroll {
  margin-left: $margin-base;
}

.playground {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $margin-large;
}

.playgroundToggleCodeBar {
  margin: 0 $padding-small -1px;
  order: 1;
}

.playgroundToggleCodeLink {
  @include flex(center, row, flex-start, nowrap);
  background: $color-lightest-gray;
  border: 1px solid $color-lighter-gray;
  border-bottom: 1px solid $color-lightest-gray;
  border-radius: $border-radius-small $border-radius-small 0 0;
  color: $anchor-color;
  cursor: pointer;
  padding: $padding-tiny $padding-small;
  position: relative;

  &:hover {
    color: $anchor-color-hover;
  }

  &:active,
  &:focus {
    color: $anchor-color-active;
  }

  &:after {
    content: 'code snippet';
    padding-left: $padding-tiny;
  }

  &:before {
    content: '+';
    font-weight: bold;
    padding-right: $padding-tiny;
  }
}

.playgroundCode {
  background: $color-lightest-gray;
  border: 1px solid $color-lighter-gray;
  border-radius: 0 $border-radius-small $border-radius-small $border-radius-small;
  display: block;
  order: 2;
  margin: 0 $padding-small;
  padding: $padding-small;
  width: 100%;

  .ReactCodeMirror {
    @include global-transition;
    @include vertical-scroll-container(150px);
    border-radius: $border-radius-small;
  }

  &.expandedCode {
    .ReactCodeMirror {
      max-height: 100%;
    }

    +.playgroundToggleCodeBar {
      .playgroundToggleCodeLink {
        &:before {
          content: '-';
        }
      }
    }
  }
}

.playgroundError {
  @include alert-color-stack;
  @include panel($padded: true);
  font-family: monospace;
  overflow-x: scroll;
  white-space: pre-wrap;
}

.playgroundPreview {
  display: block;
  order: 0;
  width: 100%;
}

.playgroundPreview--FakeViewportContainer {
  .playgroundPreview {
    background: url('https://3ulsmb4eg8vz37c0vz2si64j-wpengine.netdna-ssl.com/wp-content/uploads/2016/07/75ff3f3c-4aa5-11e6-9c23-4491699777fe.jpg');
    background-position: center;
    background-size: cover;
    margin: 0 $margin-small $margin-base;
    min-height: 320px;
    min-width: 320px;
    transform: scale(1);
    width: 100%;
  }
}

// For grid example pages, colorize columns and mark the edges, and put spacing between rows
.ColumnExamples {

  &.rev-Row,
  .rev-Row {
    margin-bottom: $margin-base;

    .rev-Row {
      margin-bottom: 0;
    }
  }

  .rev-Col {
    // bottom and top padding for demo purposes only
    padding-bottom: $padding-base;
    padding-top: $padding-base;
    text-align: center;

    // All of this is a way to put an outline-esque border on the left and
    // right edge without taking up space (doing it this way, because outline
    // can't be applied to only left and right).
    // If we just put left and right borders, it can cause weird overflows
    // and wrapping with the grid, which is bad for a grid demo page
    &:before {
      // Mark left and right edges
      border-left: 2px dotted $color-gray;
      border-right: 2px dotted $color-gray;
      // Position to be the same size and location as the column
      bottom: 0;
      // Needs content to be placed in DOM
      content: ' ';
      left: -1px;
      position: absolute;
      right: -1px;
      top: 0;
    }
  }

  // Throw some grayscale colors on the grid columns to show what space they
  // occupy
  .rev-Col:nth-child(6n + 1) {
    @include color-stack($color-lightest-gray);
  }

  .rev-Col:nth-child(6n + 2) {
    @include color-stack($color-lighter-gray);
  }

  .rev-Col:nth-child(6n + 3) {
    @include color-stack($color-light-gray);
  }

  .rev-Col:nth-child(6n + 4) {
    @include color-stack($color-gray);
  }

  .rev-Col:nth-child(6n + 5) {
    @include color-stack($color-dark-gray);
  }

  .rev-Col:nth-child(6n + 6) {
    @include color-stack($color-darker-gray);
  }

  // For nesting example, show the extents of the nested row
  .rev-Col .rev-Row {
    outline: 1px solid $color-white;
  }

  // removing the bkgd on Block Grid so that kitty images look better
  &.ColumnExamples--blockGrid {
    .rev-Col {
      background: transparent;
      margin-bottom: $padding-small;
    }
  }
}

// Bkgd Colors
.ExampleBkgd--primary {
  background: $color-ui-primary;
  display: block;
  margin-bottom: $padding-base;
  padding: $padding-base $padding-base 0;
}

// Color Swatches
.ExampleSwatches {
  @include aspect-ratio(1, 1);
  @include color-management;
}

// Buttons
.ExampleButtons {
  .rev-Button {
    margin-right: $margin-base;
  }
}

// Visibility
.ExampleVisibility {
  padding: $padding-base;
}

.ExamplePink {
  background: pink;
}

// Example TopBars
.playground .rev-TopBar {
  margin: 0 0 $spacing-base;
}

// Branding
.ExampleBrand {
  @include flex(center, row, center, nowrap);
  height: 48px;
  padding: $padding-tiny $padding-small;
  position: relative;

  @include breakpoint(medium) {
    margin: $margin-large 0 $margin-base;
    padding: 0 $padding-base;
  }

  img {
    height: 100%;
    width: auto;

    @include breakpoint(medium) {
      height: auto;
      margin-bottom: $padding-small;
      width: 100%
    }
  }

  small {
    bottom: -1.2rem;
    color: $color-white-60;
    font-size: $font-size-base;
    font-weight: normal;
    left: $padding-base;
    position: absolute;
  }
}

.rev-Brand-symbol {
  margin: $margin-large auto $margin-base;
  max-width: 20rem;
}

// Topbar Small Only
@include breakpoint(small-only) {
  .rev-TopBar.Show--smallOnly {
    box-shadow: 0 0 3px 0 $color-black-20;
    border: 0;
    margin-bottom: $margin-base;

    small {
      color: $color-white-60;
      font-size: $font-size-small;
      font-weight: normal;
    }
  }
}

// Sidebar Nav
.DocsSiteNav {
  &.rev-Drawer.rev-Drawer--open {
    .rev-Drawer-closer {
      color: $color-white-60;
      transform: rotate(0.125turn);

      &:hover,
      &:active,
      &:focus {
        color: $color-white;
      }
    }
  }

  @include breakpoint(small-only) {
    top: $topbar-height;

    &.rev-Drawer {
      .rev-Drawer-closer {
        top: $topbar-height;
      }

      .rev-Drawer-expander {
        background: $color-brand;
        border-radius: 0 $border-radius-small $border-radius-small 0;
        color: $color-white;
        font-size: 18px;
        top: $topbar-height + 10;
        width: $size-default;
      }
    }
  }

  .rev-Drawer-contents {
    background: $color-brand;
    background: linear-gradient(to bottom, $color-brand-secondary 0%, $color-brand 100%);
    color: $color-white;
    padding-bottom: $padding-larger;
  }

  .rev-Menu-item--text {
    color: $color-white-60;
  }

  .rev-Menu-item a {
    color: $color-white-80;
    position: relative;

    &:hover,
    &:active,
    &:focus {
      background: $color-white-06;
      color: $color-white;
    }

    &:active,
    &:focus {
      background: $color-white-10;
    }
  }

  .rev-Menu-item--selected a {
    background: $color-white-10;
    color: $color-white;

    &:after {
      background: $color-white;
      border-radius: 0 $border-radius-small $border-radius-small 0;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 5px;
    }
  }
}

.FixedDrawerLinks {
  @include flex(stretch, row, center, nowrap);
  @include global-transition;
  background: $color-ui-primary;
  border-top: 1px solid $color-divider-dark;
  bottom: 0;
  left: -$drawer-width;
  position: fixed;
  width: $drawer-width;
  z-index: $above;

  .rev-Drawer--open & {
    left: 0;
  }

  @include breakpoint(medium) {
    left: 0;
  }

  .rev-Menu-item {
    flex: 1;
    text-align: center;

    &:first-child {
      border-right: 1px solid $color-divider-dark;
    }
  }
}

// DRAWER EXAMPLE STYLES
.ExampleDrawerContainer {
  min-height: 32rem;
  position: relative;
}

// SLIDER
.rev-Slider {
  margin: $padding-larger $padding-small;
}

.code-toolbar {
  margin: 0;
  max-width: 70rem;
  padding: 0 0 $spacing-base 0;
}

.HTMLCodeSection {
  padding: 0;
  margin: 0 1.2rem;

  .code-toolbar {
    display: block;
    padding: 1.2rem;
    width: 100%;

    max-width: inherit;
  }
}
