@use '../vars' as *;
@use '../mixins' as *;

$badge-size: $icon-size-base !default;

.rev-Badge {
  @include color-management;
  border-radius: $border-radius-rounded;
  display: inline-block;
  font-size: $font-size-tiny;
  min-height: $badge-size;
  line-height: $badge-size;
  padding: 0 $padding-tiny;
  min-width: $badge-size;
  text-align: center;
}
