@use '../vars' as *;
@use '../mixins' as *;
@use 'Callout' as *;

.rev-BrowserSupportWarning {
  @extend .rev-Callout;
  @extend .rev-Callout--alert;
  left: $padding-base;
  position: fixed;
  right: $padding-base;
  top: $padding-base;
  z-index: $z-index-above-everything;
  @media screen and (min-width: 640px) {
    left: 50%;
    margin-left: -320px;
    width: 640px;
  }
}
