// Button Vars
$button-bkgd: $color-brand-primary !default;
$button-border: 0 !default;
$button-color: $color-white !default;
$button-bkgd-hover: darken($color-brand-primary, 5%) !default;
$button-color-hover: $color-white !default;
$button-bkgd-active: darken($color-brand-primary, 10%) !default;
$button-color-active: $color-white !default;
$button-radius: $border-radius-small !default;

$button-bkgd-primary: $color-brand-amber !default;
$button-color-primary: $color-white !default;
$button-bkgd-primary-hover: darken($color-brand-amber, 5%) !default;
$button-color-primary-hover: $color-white !default;
$button-bkgd-primary-active: darken($color-brand-amber, 10%) !default;
$button-color-primary-active: $color-white !default;

$button-bkgd-secondary: transparent !default;
$button-box-shadow-secondary: rgba($color-brand-primary, 0.3) !default;
$button-color-secondary: $color-brand-primary !default;
$button-bkgd-secondary-hover: transparent !default;
$button-box-shadow-secondary-hover: $color-brand-primary !default;
$button-color-secondary-hover: $color-brand-primary !default;
$button-bkgd-secondary-active: transparent !default;
$button-box-shadow-secondary-active: rgba($color-brand-primary, 0.8) !default;
$button-color-secondary-active: $color-brand-primary !default;

@mixin button-contained {
  .rev-Button {
    margin: $spacing-small auto;

    &.rev-Button--small {
      margin: $spacing-small auto;
    }

    &.rev-Button--large {
      margin: $spacing-base auto;
    }
  }
}

@mixin button {
  @include global-transition;
  border: $button-border;
  border-radius: $button-radius;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: $line-height-global;
  margin: 0 0 $spacing-base;
  padding: $padding-small $padding-base;
}

.rev-Button {
  @include button;
  background: $button-bkgd;
  color: $button-color;
  &:hover,
  &:active,
  &:focus {
    background: $button-bkgd-hover;
    color: $button-color-hover;
  }
  &:active,
  &:focus {
    background: $button-bkgd-active;
    color: $button-color-active;
  }

  &.rev-Button--large {
    font-size: $font-size-medium;
    padding: $padding-small $padding-large;
    margin: 0 auto $spacing-base;
  }

  &.rev-Button--small {
    @include small-input;
  }

  &.rev-Button--primary {
    background: $button-bkgd-primary;
    color: $button-color-primary;
    &:hover {
      background: $button-bkgd-primary-hover;
      color: $button-color-primary-hover;
    }
    &:active
    &:focus {
      background: $button-bkgd-primary-active;
      color: $button-color-primary-active;
    }
  }

  &.rev-Button--secondary {
    background: $button-bkgd-secondary;
    box-shadow: 0 0 0 1px $button-box-shadow-secondary inset;
    color: $button-color-secondary;
    &:hover {
      background: $button-bkgd-secondary-hover;
      box-shadow: 0 0 0 1px $button-box-shadow-secondary-hover inset;
      color: $button-color-secondary-hover;
    }
    &:active,
    &:focus {
      background: $button-bkgd-secondary-active;
      box-shadow: 0 0 0 1px $button-box-shadow-secondary-active inset;
      color: $button-color-secondary-active;
    }
  }

  &.rev-Button--inverted {
    background: $button-color;
    color: $button-bkgd;
    &:hover,
    &:focus {
      background: $button-color;
      color: $button-bkgd-hover;
    }
    &:active {
      color: $button-bkgd-active;
    }

    &.rev-Button--secondary {
      background: transparent;
      box-shadow: 0 0 0 1px $color-white-30 inset;
      color: $color-white;
      &:hover {
        background: transparent;
        box-shadow: 0 0 0 1px $color-white inset;
        color: $color-white;
      }
      &:active,
      &:focus {
        background: transparent;
        box-shadow: 0 0 0 1px $color-white-80 inset;
        color: $color-white;
      }
    }
  }

  &.rev-Button--success {
    background: $color-ui-success;
    &:hover,
    &:active,
    &:focus {
      background: darken($color-ui-success, 10%);
    }
  }

  &.rev-Button--alert {
    background: $color-ui-alert;
    &:hover,
    &:active,
    &:focus {
      background: darken($color-ui-alert, 10%);
    }
  }

  &.rev-Button--warning {
    background: $color-ui-warning;
    &:hover,
    &:active,
    &:focus {
      background: darken($color-ui-warning, 10%);
    }
  }

  &.rev-Button--expanded {
    width: 100%;
  }

  &.rev-Button--collapse {
    margin: 0;
  }

  &.rev-Button--disabled {
    @include disabled($button-bkgd, $button-color);

    &.rev-Button--secondary {
      @include disabled($button-bkgd-secondary, $button-color-secondary);
      box-shadow: 0 0 0 1px $button-box-shadow-secondary inset;
    }
  }
}

.rev-ButtonGroup {
  font-size: 0;

  .rev-Button {
    border-radius: 0;
    border-right: 1px solid $color-divider;

    &:first-child {
      border-radius: $border-radius-small 0 0 $border-radius-small;
    }

    &:last-child {
      border: 0;
      border-radius: 0 $border-radius-small $border-radius-small 0;
    }
  }
}
