$card-bkgd: $color-white !default;
$card-border: 0 !default;
$card-padding: $spacing-base $spacing-small !default;
$card-radius: $border-radius-small !default;
$card-header-background: $color-white !default;
$card-footer-background: $color-white !default;

.rev-Card,
.rev-CardLayout {
  background-color: $card-bkgd;
  border: $card-border;
  border-radius: $card-radius;
  box-shadow: $box-shadow-default;
  margin-bottom: $spacing-base;
  overflow: hidden;
  &.rev-Card--secondary {
    background: transparent;
    border: 1px solid $color-divider;
  }
}
.rev-Card-slice,
.rev-CardLayout-bar,
.rev-Card-header,
.rev-Card-body,
.rev-Card-footer {
  @include button-contained;
  @include header-contained;
  @include paragraph-contained;
  padding: $card-padding;
}
.rev-Card--large {
  .rev-Card-header,
  .rev-Card-body,
  .rev-Card-footer {
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
  }
  .rev-Card-header {
    padding-top: $spacing-base;
    &:before {
      left: $spacing-large;
    }
  }
  .rev-Card-footer {
    padding-bottom: $spacing-base;
    &:before {
      left: $spacing-large;
    }
  }
}
.rev-Card--small {
  .rev-Card-header,
  .rev-Card-body,
  .rev-Card-footer {
    padding-left: 0;
    padding-right: 0;
  }
  .rev-Card-header {
    &:before {
      left: $spacing-small;
    }
  }
  .rev-Card-footer {
    &:before {
      left: $spacing-small;
    }
  }
}

.rev-Card-header {
  background-color: $card-header-background;
  border-radius: $card-radius $card-radius 0 0;
  position: relative;
  &:before {
    background: $color-black-10;
    bottom: 0;
    content: '';
    height: 1px;
    left: $spacing-base;
    position: absolute;
    right: 0;
  }
}
.rev-Card-body {
  img {
    margin-bottom: $spacing-base;
  }
}
.rev-Card-footer {
  background-color: $card-footer-background;
  border-radius: 0 0 $card-radius $card-radius;
  position: relative;
  &:before {
    background: $color-black-10;
    content: '';
    height: 1px;
    left: $spacing-base;
    position: absolute;
    right: 0;
    top: 0;
  }
}

