@use '../vars' as *;
@use '../mixins' as *;
@use 'Forms' as *;

.rev-Checkbox {
  @include input-style;
  background: transparent;
  box-shadow: none;
  display: inline-block;
  margin-bottom: $padding-tiny;
  margin-right: $padding-tiny;
  padding-bottom: $padding-small;
  padding-top: $padding-small;
  width: auto;
  &:focus,
  &:active {
    box-shadow: none;
  }
  &.rev-Checkbox--stacked,
  &.rev-Radio--stacked {
    display: block;
    margin-right: 0;
  }
  input:disabled {
    @include disabled;
    +.rev-Checkbox-label {
      @include disabled;
    }
  }
}
.rev-Checkbox-label {
  @extend .rev-LabelText;
}
.rev-Checkbox-input {
  margin-right: $padding-small;
}
