// default component vars listed at the top of the component stylesheet
// those vars are transferred to rev-settings AND are commented out
// this way updates can be made to a component by uncommenting settings vars

$closebutton-bkgd: $color-darker-gray !default;
$closebutton-color: $color-white !default;
$closebutton-bkgd-hover: $color-black !default;
$closebutton-color-hover: $color-white !default;
$closebutton-bkgd-active: $color-black !default;
$closebutton-color-active: $color-white !default;
$closebutton-radius: $border-radius-rounded !default;
$closebutton-size: $size-large !default;

.rev-CloseButton {
  @include button;
  @include small-input;
  background: $closebutton-bkgd;
  border: 0;
  border-radius: $closebutton-radius;
  color: $closebutton-color;
  float: right;
  line-height: $closebutton-size;
  margin: $padding-small;
  min-height: $closebutton-size;
  min-width: $closebutton-size;
  padding: 0 $padding-tiny;

  &:hover {
    background: $closebutton-bkgd-hover;
    color: $closebutton-color-hover;
  }

  &:active,
  &:focus {
    background: $closebutton-bkgd-active;
    color: $closebutton-color-active;
  }

  &.rev-CloseButton--absolute {
    margin: 0;
    position: absolute;
    right: $padding-small;
    top: $padding-small;
  }
}
