$calendar-bkgd: $card-bkgd;
$calendar-border: $card-border;
$calendar-width: 32rem;
$calendar-body-width: 100%;
$calendar-header-bkgd: $card-bkgd;
$calendar-header-height: $size-large;

.rev-DatePicker {
  display: block;
  position: relative;
}
.rev-Card.rev-Calendar {
  background: $calendar-bkgd;
  border: $calendar-border;
  position: relative;
  top: -$global-padding-small;
  width: $calendar-width;
  // DatePicker Calendar Header Row
  .rev-Calendar-header {
    @include flex(center, row, space-between, nowrap);
    background: $calendar-header-bkgd;
    height: $calendar-header-height;
    text-align: center;
  }
  .rev-Calendar-header-button {
    @include button;
    border-radius: 0;
    margin: 0;
  }
  &.rev-Calendar--overlay {
    position: absolute;
    top: calc(100% + #{$global-padding});
    z-index: $above-most;
    .rev-Calendar-header {
      @include arrow-up-outline($calendar-header-bkgd);
    }
  }
}

// DatePicker Calendar
.rev-Calendar-body {
  margin-left: auto;
  margin-right: auto;
  max-width: $calendar-body-width;
  width: 100%;
}
.rev-Calendar-body-headerCell {
  text-align: center;
}
.rev-Calendar-body-bodyCell {
  text-align: center;
  padding-bottom: calc((#{100% / 7}) / 2);
  padding-top: calc((#{100% / 7}) / 2);
  position: relative;
  width: calc(100% / 7);
  & > button {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    bottom: 0;
    color: inherit;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.rev-Calendar-body-headerCell {
  text-align: center;
  padding-bottom: calc((#{100% / 7} - #{1.5rem * $global-lineheight}) / 2);
  padding-top: calc((#{100% / 7} - #{1.5rem * $global-lineheight}) / 2);
  position: relative;
  width: calc(100% / 7);
}
.rev-DatePicker--custom {
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }
}
.rev-Calendar-body-bodyCell--otherMonth {
  color: $light-gray;
}
.rev-Calendar-body-bodyCell--thisMonth {

}
.rev-Calendar-body-bodyCell--selected.rev-Calendar-body-bodyCell--selected {
  background-color: $brand;
  color: $white;
}
.rev-Calendar-body-bodyCell--unselectable {
  color: $lighter-gray;
}


.rev-Calendar-body-bodyCell--highlighted {
  color: $success;
}
