fieldset,
.rev-Fieldset,
.rev-CheckableFieldset {
  border: 1px solid $color-divider;
  margin-bottom: $spacing-base;
  // -2px for the borders. This maintains the vertical rhythm
  padding: calc(#{$padding-small} - 2px) $padding-base;

  legend {
    padding: 0 $padding-tiny;
  }

  &.is-invalid-fieldset {
    border-color: $color-ui-error;
  }

  .rev-Radio,
  .rev-Checkbox {
    &.is-invalid {
      background: transparent;
      box-shadow: none;
    }
  }
}
