$input-height: 44px;
$input-bkgd: $brand-light;
$input-bkgd-focus: $input-bkgd;
$input-box-shadow: 0 0 0 1px $divider-color inset;
$input-box-shadow-focus: 0 0 0 1px $divider-color-dark inset;
$input-radius: 0;
$input-color: $body-font-color;
$input-color-focus: $input-color;
$input-font-size: $global-font-size;
$label-color: $gray;
$label-font-size: $global-font-size;
$error-color: $warning;
$input-margin-bottom: $global-vertical-space;

@mixin input-style {
  @include global-transition;
  @include placeholder;
  background: $input-bkgd;
  border: 0;
  border-radius: $input-radius;
  box-shadow: $input-box-shadow;
  color: $input-color;
  display: block;
  font-size: $input-font-size;
  line-height: $base-lineheight;
  margin: 0 0 $global-margin;
  max-width: 100%;
  outline: none;
  padding: $global-padding-small;
  &:active,
  &:focus {
    background: $input-bkgd-focus;
    box-shadow: $input-box-shadow-focus;
    color: $input-color-focus;
  }
  &--expanded {
    width: 100%;
  }
}

.rev-InputLabel {
  display: block;
  font-size: $label-font-size;
  margin: 0 0 $input-margin-bottom;
  .rev-Button,
  .rev-Input,
  .rev-FileInput-fileLabel,
  .rev-InputGroup .rev-InputGroup-label {
    margin-bottom: 0;
  }
}
.rev-LabelText,
.rev-Checkbox-label,
.rev-Radio-label {
  @include global-transition;
  color: $label-color;
  font-size: $label-font-size;
}
.rev-Input {
  @include input-style;
}
.rev-Select {
  @include input-style;
  border-radius: 0;
  -webkit-border-radius: 0;
  .rev-InputGroup &,
  &--unrounded {
    border: 0;
    outline: none;
    position: relative;
    &:focus {
      border: 0;
      border-radius: 0;
      outline-offset: 0;
    }
  }
}
.rev-Textarea {
  @include input-style;
  height: auto;
  min-height: $input-height;
  padding: $global-padding-small;
}
.rev-InputHelpText,
.form-error {
  display: block;
  font-size: $global-font-size-small;
  font-style: normal;
  /*line-height: 1.85;*/
  margin: 0;
}
