@use '../vars' as *;
@use '../mixins' as *;

$help-text-color: $color-gray !default;

.rev-HelpText {
  display: block;
  color: $help-text-color;
  font-size: $font-size-small;
  line-height: $line-height-base;
  padding: $padding-tiny 0;
}
