.rev-InputGroup {
  @include flex(stretch, row, flex-start, nowrap);
  .rev-InputGroup-label {
    @include small-input;
    position: relative;
    line-height: $global-lineheight;
  }
  .rev-Button {
    padding: $global-vertical-space / 2.5 $global-horizontal-space; // rev-Button--small padding
  }
}
