$rail-width: 300px !default;

.rev-MainPanel {
  /* display: flex;
  flex: 0 1 100%;
  justify-content: center; */
  // background for main panel
  /*&:after {
    background: $primary;
    content: '';
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    width: calc(((100vw - #{$global-width}) / 2) + (#{$global-width} - #{$rail-width}));
    z-index: $default;
  }*/
}
.rev-Rail {
  display: none;
  /*flex: 0 0 auto;
  max-width: $rail-width;
  min-width: $rail-width; */
  // background for rail
  /*&:after {
    background: $primary;
    content: '';
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: calc(((100vw - #{$global-width}) / 2) + #{$rail-width});
    z-index: $default;
  }*/
}
.rev-MainPanel-content {
  /* padding: 0 $global-padding $global-padding-large $global-padding; */
}
