@use '../vars' as *;
@use '../mixins' as *;

.rev-List {
  margin-bottom: $margin-base;
}
.BulletedList,
.rev-List--bulleted {
  list-style: disc;
  margin-left: 18px;
  li {
    padding: 0 0 $padding-small;
  }
}
.rev-List--dividers {
  li {
    border-bottom: 1px solid $color-divider;
    font-size: $font-size-small;
    padding: $padding-tiny 0;
    &:first-child {
      border-top: 1px solid $color-divider;
    }
  }
}
