$pagination-radius: 0 !default;
$pagination-vertical-padding: $global-padding-tiny !default;
$pagination-padding: $pagination-vertical-padding $global-padding-small !default;
$pagination-margin: $global-padding-tiny / 2 !default;
$pagination-dot-color: $dark-gray !default;

.rev-PaginationWrapper {
  display: block;
}
.rev-Pagination {
  display: block;
  text-align: center;
  .rev-Pagination-arrow,
  .rev-Pagination-number,
  .rev-Pagination-dots {
    display: inline-block;
    &--hidden  {
      display: none;
    }
  }
}
.rev-Pagination-arrow,
.rev-Pagination-dots {
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.rev-Pagination-dots {
  background: $navigation-bkgd;
  color: $pagination-dot-color;
  line-height: initial;
  padding: $pagination-vertical-padding;
}
.rev-Pagination-arrow,
.rev-Pagination-number,
.rev-Pagination-dots {
  @include navigation-color-mgmt;
  @include global-transition;
  border-radius: $pagination-radius;
  font-size: $global-font-size-small;
  margin-right: $pagination-margin;
  a {
    padding: $pagination-padding;
    text-align: center;
  }
}
.rev-PaginationWrapper-pageList {
  text-align: center;
}
