$pagination-bkgd: null;
$pagination-color: null;

.rev-PaginationWrapper {
  display: block;
}
.rev-Pagination {
  display: block;
  text-align: center;
  .rev-Pagination-arrow,
  .rev-Pagination-number,
  .rev-Pagination-dots {
    display: inline-block;
    &--disabled {
      @include disabled;
      cursor: not-allowed;
    }
    &--hidden  {
      display: none;
    }
  }
}
.rev-Pagination-arrow,
.rev-Pagination-dots {
  margin: 0 $global-padding-small;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.rev-Pagination-dots {
  @include muted;
}
.rev-Pagination-number {
  @include navigation-color-management;
  font-size: $global-font-size-small;
  a {
    @include global-transition;
    border-radius: $global-rounded;
    display: block;
    font-weight: bold;
    height: $size-default;
    line-height: $size-default;
    min-width: $size-default;
    text-align: center;
  }
}
.rev-PaginationWrapper-pageList {
  text-align: center;
}
