@use '../vars' as *;
@use '../mixins' as *;
@use 'Forms' as *;

.rev-Radio {
  @include input-style;
  background: transparent;
  box-shadow: none;
  display: inline-block;
  margin-bottom: $padding-tiny;
  margin-right: $padding-tiny;
  padding-bottom: $padding-small;
  padding-top: $padding-small;
  width: auto;
  &:focus,
  &:active {
    box-shadow: none;
  }
  &.rev-Radio--stacked {
    display: block;
    margin-right: 0;
  }
  input:disabled {
    @include disabled;
    +.rev-Radio-label {
      @include disabled;
    }
  }
}
.rev-Radio-label {
  @extend .rev-LabelText;
}
.rev-Radio-input {
  margin-right: $padding-small;
}
.rev-Radio,
.rev-Radio-input {
  ~ .rev-InputHelpText,
  ~ .rev-InputErrors {
    margin-top: -$padding-tiny;
  }
}
