.rev-Section,
section {
  display: block;
  padding-bottom: $padding-large;
  padding-top: $padding-large;
}
.rev-Section--large {
  padding-bottom: $padding-larger;
  padding-top: $padding-larger;
}
