.Slider{
  background: hotpink;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;

  &-container {
    width: 100%; /* Width of the outside container */
  }

  &:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
}

// /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
// .Slider::-webkit-slider-thumb {
//   -webkit-appearance: none; /* Override default look */
//   appearance: none;
//   width: 25px; /* Set a specific slider handle width */
//   height: 25px; /* Slider handle height */
//   background: #4CAF50; /* Green background */
//   cursor: pointer; /* Cursor on hover */
// }

// .Slider::-moz-range-thumb {
//   width: 25px; /* Set a specific slider handle width */
//   height: 25px; /* Slider handle height */
//   background: #4CAF50; /* Green background */
//   cursor: pointer; /* Cursor on hover */
// }