$slider-height: 50px;
$slider-track-height: 3px;
$slider-track-padding-right: $global-padding;
$slider-track-color: $light-gray;
$slider-input-height: 25px;
$slider-input-width: 80px;
$slider-thumb-width: 16px;
$slider-thumb-height: 16px;
$slider-border-radius: 50%;
$slider-thumb-background: $primary;
$slider-progress-color: $primary;

.Slider {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: $slider-height;
  line-height: 0;
  margin: $global-padding-small;
  padding: 0;
  &-range-container {
    margin-right: $slider-track-padding-right;
    width: 100%;
  }
  &-input {
    height: $slider-input-height;
    text-align: right;
    width: $slider-input-width;
  }
  &-range {
    @include remove-appearance;
    background: none;
    cursor: pointer;
    height: 100%;
    min-height: $slider-thumb-height + 4px;
    overflow: hidden;
    width: 100%;
  }
  &-range:focus {
    box-shadow: none;
    outline: none;
  }
  &-range::-webkit-slider-runnable-track {
    background: $slider-track-color;
    content: '';
    height: $slider-track-height;
    pointer-events: none;
  }
  &-range:focus::-webkit-slider-runnable-track {
    background: $slider-track-color;
  }
  &-range::-moz-range-track {
    background: $slider-track-color;
    clear: both;
    cursor: pointer;
    height: $slider-track-height;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  &-range::-webkit-slider-thumb {
    @include remove-appearance;
    background: $slider-thumb-background;
    border-radius: $slider-border-radius;
    cursor: pointer;
    height: $slider-thumb-height;
    margin-top: -#{ $slider-track-height * 2};
    width: $slider-thumb-width;
  }
  // TODO Get working in Chrome, Safari, Edge
  &-range:-moz-range-progress {
    background: $slider-progress-color;
    height: $slider-track-height;
  }
  &-range::-moz-range-thumb {
    background: $slider-thumb-background;
    border: 0;
    border-radius: $slider-border-radius;
    cursor: pointer;
    height: $slider-thumb-height;
    margin-top: -#{ $slider-track-height * 2};
    width: $slider-thumb-width;
  }
  &-range::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    height: $slider-thumb-height;
    width: 100%;
  }
  &-range::-ms-fill-lower {
    background: $slider-track-color;
  }
  &-range::-ms-fill-upper {
    background: $slider-track-color;
  }
  &-range::-ms-thumb {
    background: $slider-thumb-background;
    border-radius: $slider-border-radius;
    cursor: pointer;
    height: $slider-thumb-height;
    width: $slider-thumb-width;
  }
  &-range:focus::-ms-fill-lower {
    background: $slider-thumb-background;
  }
  &-range:focus::-ms-fill-upper {
    background: $slider-track-color;
  }
}