$table-background: $white;
$table-border: 1px solid $divider-color;
$table-header-background: $white;
$table-height: 25rem;

.rev-Table {
  background-color: $table-background;
  border: $table-border;
  margin: $global-margin 0;
  p {
    font-size: $global-font-size-small;
    padding: 0;
    margin-bottom: $global-margin-small;
    margin-top: $global-margin-small;
  }
  .u-empty-table {
    padding: $global-padding;
  }
}
.rev-Table-header {
  background-color: $brand;
  color: $white;
  padding: $global-padding-small 0;
  p {
    font-size: $global-font-size-small;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
}
.rev-Table-body {
  @include vertical-scroll-container(250px);
  @include breakpoint(medium-down) {
    @include vertical-scroll-container(350px);
  }
  // @include breakpoint(medium) {
  //   max-height: 100%;
  //   overflow-y: visible;
  // }
  font-size: $global-font-size-small;
  i {
    font-size: $global-font-size;
  }
  p {
    padding-bottom: 0;
  }
  .rev-Table-row {
    border-bottom: $table-border;
    padding: $global-padding-small 0;
    &:last-child {
      border-bottom: 0;
    }
    &.Small {
      padding: $global-padding 0;
      p {
        padding-bottom: $global-padding-tiny;
      }
    }
    span {
      font-weight: $global-weight-bold;
      @include breakpoint(medium) {
        display: none;
      }
    }
    li {
      list-style-type: none;
    }
    &.is-highlighted {
      background-color: $gray;
    }
  }
  .rev-Table-smallHeader {
    font-size: $global-font-size;
    font-weight: $global-weight-bold;
  }
  .rev-Table-smallBody {
    a,
    p {
      display: block;
    }
  }
}
.rev-Table-link {
  @include flex(flex-end, row, flex-end);
  padding-bottom: $global-padding-small;
  .rev-icon {
    color: $brand;
    font-size: $global-font-size;
    padding-right: $global-padding-tiny - 0.2rem;
    vertical-align: middle;
  }
}
