// default component vars listed at the top of the component stylesheet
// those vars are transferred to rev-settings AND are commented out
// this way updates can be made to a component by uncommenting settings vars
$tabs-margin: $global-vertical-space !default;
$tabs-border-size: 1px !default;
$tabs-border-color: $divider-color !default;
$tabs-title-bkgd: transparent !default;
$tabs-title-link-bkgd: $divider-color !default;
$tabs-title-link-color: $anchor-color !default;
$tabs-title-link-bkgd-hover: darken($tabs-title-link-bkgd, 5%) !default;
$tabs-title-link-color-hover: $anchor-color-hover !default;
$tabs-title-link-bkgd-active: darken($tabs-title-link-bkgd, 5%) !default;
$tabs-title-link-color-active: $anchor-color-hover !default;
$tabs-title-link-padding: $global-vertical-space $global-horizontal-space !default;
$tabs-content-padding: $global-vertical-space 0 !default;

.rev-Tabs {
  margin-bottom: $tabs-margin;
  margin-top: $tabs-margin;
}
.rev-Tabs-titles { //ul
  @include flex(stretch, row, flex-start, wrap);
  border: $tabs-border-size solid $tabs-border-color;
  overflow: hidden;
  width: 100%;
}
.rev-TabsTitle {
  @include navigation-color-management;
  background: $tabs-title-bkgd;
  margin: 0;
  padding: 0;
}
.rev-TabsTitle-link {
  display: block;
  font-size: $global-font-size;
  padding: $tabs-title-link-padding;
}
.rev-Tabs-content {
  border: $tabs-border-size solid $tabs-border-color;
  border-top: 0;
  padding: $tabs-content-padding;
}
