@use '../vars' as *;
@use '../mixins' as *;

// default component vars listed at the top of the component stylesheet
// those vars are transferred to rev-settings AND are commented out
// this way updates can be made to a component by uncommenting settings vars
$tabs-margin: $margin-base !default;
$tabs-border-size: 1px !default;
$tabs-border-color: $color-divider !default;
$tabs-titles-bkgd: $color-white !default;
$tabs-title-link-padding: $padding-small $padding-base !default;
$tabs-content-bkgd: $color-white 0 !default;
$tabs-content-padding: $padding-base 0 !default;

.rev-Tabs {
  margin-bottom: $tabs-margin;
  margin-top: $tabs-margin;
}

.rev-Tabs-titles {
  //ul
  @include flex(stretch, row, flex-start, wrap);
  background: $tabs-titles-bkgd;
  border: $tabs-border-size solid $tabs-border-color;
  overflow: hidden;
  width: 100%;
}

.rev-TabsTitle {
  margin: 0;
  padding: 0;
}

.rev-TabsTitle-link {
  @include stateful-color-mgmt;
  @include global-transition;
  border-right: $tabs-border-size solid $tabs-border-color;
  display: block;
  font-size: $font-size-base;
  padding: $tabs-title-link-padding;
}

.rev-Tabs-content {
  background: $tabs-content-bkgd;
  border: $tabs-border-size solid $tabs-border-color;
  border-top: 0;
  padding: $tabs-content-padding;
}

.rev-TabsItem-panel {
  display: none;
}

.rev-TabsItem-panel--selected {
  display: block;
}
