@use '../vars' as *;
@use '../mixins' as *;

// Button Vars
$button-bkgd: $color-brand-primary !default;
$button-border: 0 !default;
$button-color: $color-white !default;
$button-bkgd-hover: darken($color-brand-primary, 5%) !default;
$button-color-hover: $color-white !default;
$button-bkgd-active: darken($color-brand-primary, 10%) !default;
$button-color-active: $color-white !default;
$button-radius: $border-radius-small !default;

$button-bkgd-primary: $color-brand-primary !default;
$button-color-primary: $color-white !default;
$button-bkgd-primary-hover: darken($color-brand-primary, 5%) !default;
$button-color-primary-hover: $color-white !default;
$button-bkgd-primary-active: darken($color-brand-primary, 10%) !default;
$button-color-primary-active: $color-white !default;

$button-bkgd-secondary: transparent !default;
$button-box-shadow-secondary: $color-brand-primary !default;
$button-color-secondary: $color-brand-primary !default;
$button-bkgd-secondary-hover: darken($color-brand-primary, 5%) !default;
$button-box-shadow-secondary-hover: darken($color-brand-primary, 5%) !default;
$button-color-secondary-hover: $color-white !default;
$button-bkgd-secondary-active: darken($color-brand-primary, 10%) !default;
$button-box-shadow-secondary-active: darken($color-brand-primary, 10%) !default;
$button-color-secondary-active: $color-white !default;

@mixin button-contained {
  .rev-Button {
    margin: calc(#{$spacing-base} / 2) auto;

    &.rev-Button--small {
      margin: calc(#{$spacing-base} / 2) auto;
    }

    &.rev-Button--large {
      margin: $spacing-base auto;
    }
  }
}

@mixin button {
  @include global-transition;
  background: $button-bkgd;
  border: $button-border;
  border-radius: $button-radius;
  color: $button-color;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: $line-height-global;
  margin: 0 0 $spacing-base;
  padding: $padding-small $padding-base;

  &:hover,
  &:active,
  &:focus {
    background: $button-bkgd-hover;
    color: $button-color-hover;
  }

  &:active,
  &:focus {
    background: $button-bkgd-active;
    color: $button-color-active;
  }
}

.rev-Button {
  @include button;

  &.rev-Button--large {
    font-size: $font-size-medium;
    padding: $padding-small $padding-large;
    margin: 0 auto $spacing-base;
  }

  &.rev-Button--small {
    @include small-input;
  }

  &.rev-Button--primary {
    box-shadow: $box-shadow-default;

    &:hover {
      box-shadow: $box-shadow-hover;
    }

    &:active,
    &:focus {
      box-shadow: $box-shadow-active;
    }
  }

  &.rev-Button--secondary {
    background: $button-bkgd-secondary;
    box-shadow: 0 0 0 1px $button-box-shadow-secondary inset;
    color: $button-color-secondary;

    &:hover {
      background: $button-bkgd-secondary-hover;
      box-shadow: 0 0 0 1px $button-bkgd-secondary-hover inset;
      color: $button-color-secondary-hover;
    }

    &:active,
    &:focus {
      background: $button-bkgd-secondary-active;
      box-shadow: 0 0 0 1px $button-bkgd-secondary-active inset;
      color: $button-color-secondary-active;
    }
  }

  &.rev-Button--inverted {
    background: $button-color;
    color: $button-bkgd;

    &:hover,
    &:focus {
      background: $button-color;
      color: $button-bkgd-hover;
    }

    &:active {
      color: $button-bkgd-active;
    }

    &.rev-Button--secondary {
      background: transparent;
      box-shadow: 0 0 0 1px $button-color inset;
      color: $button-color;

      &:hover {
        background: $button-color-hover;
        box-shadow: 0 0 0 1px $button-color-hover inset;
        color: $button-bkgd-hover;
      }

      &:active,
      &:focus {
        background: $button-color-active;
        box-shadow: 0 0 0 1px $button-color-active inset;
        color: $button-bkgd-active;
      }
    }
  }

  &.rev-Button--success {
    background: $color-ui-success;

    &:hover,
    &:active,
    &:focus {
      background: darken($color-ui-success, 10%);
    }
  }

  &.rev-Button--alert {
    background: $color-ui-alert;

    &:hover,
    &:active,
    &:focus {
      background: darken($color-ui-alert, 10%);
    }
  }

  &.rev-Button--warning {
    background: $color-ui-warning;

    &:hover,
    &:active,
    &:focus {
      background: darken($color-ui-warning, 10%);
    }
  }

  &.rev-Button--expanded {
    width: 100%;
  }

  &.rev-Button--collapse {
    margin: 0;
  }

  &.rev-Button--disabled {
    @include disabled($button-bkgd, $button-color);

    &.rev-Button--secondary {
      @include disabled($button-bkgd-secondary, $button-color-secondary);
      box-shadow: 0 0 0 1px $button-box-shadow-secondary inset;
    }
  }
}

.rev-ButtonGroup {
  font-size: 0;

  .rev-Button {
    border-radius: 0;
    border-right: 1px solid $color-divider;

    &:first-child {
      border-radius: $border-radius-small 0 0 $border-radius-small;
    }

    &:last-child {
      border: 0;
      border-radius: 0 $border-radius-small $border-radius-small 0;
    }
  }
}
