@use '../vars' as *;
@use '../mixins' as *;

// Align Self
.rev-Row--flex .rev-Col {
  flex-grow: 1;
  flex-shrink: 0;
  &.rev-Col--shrink {
    flex: 0 0 auto;
    width: auto;
  }
  &.rev-Col--alignStart {
    align-self: flex-start;
  }
  &.rev-Col--alignEnd {
    align-self: flex-end;
  }
  &.rev-Col--alignCenter {
    align-self: center;
  }
  &.rev-Col--alignBaseline {
    align-self: baseline;
  }
  &.rev-Col--alignStretch {
    align-self: stretch;
  }
}
// FLEX Odering
@for $i from 0 through $grid-columns {
  .rev-Col--smallOrder#{$i} {
    order: $i;
  }
}
@include breakpoint(medium) {
  @for $i from 0 through $grid-columns {
    .rev-Col--mediumOrder#{$i} {
      order: $i;
    }
  }
}
@include breakpoint(large)  {
  @for $i from 0 through $grid-columns {
    .rev-Col--largeOrder#{$i} {
      order: $i;
    }
  }
}
@include breakpoint(xlarge)  {
  @for $i from 0 through $grid-columns {
    .rev-Col--xlargeOrder#{$i} {
      order: $i;
    }
  }
}
@include breakpoint(xxlarge)  {
  @for $i from 0 through $grid-columns {
    .rev-Col--xxlargeOrder#{$i} {
      order: $i;
    }
  }
}

// Set max-widths and flex-basis for numerical columns so they are contained
// instead of expanding to take over the whole row
@for $i from 1 through $grid-columns {
  .rev-Row--flex .rev-Col--small#{$i} {
    flex-basis: calc(100% / #{$grid-columns} * #{$i});
    max-width: calc(100% / #{$grid-columns} * #{$i});
    width: auto;
  }
}

@include breakpoint(medium)  {
  @for $i from 1 through $grid-columns {
    .rev-Row--flex .rev-Col--medium#{$i} {
      flex-basis: calc(100% / #{$grid-columns} * #{$i});
      max-width: calc(100% / #{$grid-columns} * #{$i});
      width: auto;
    }
  }
}
@include breakpoint(large)  {
  @for $i from 1 through $grid-columns {
    .rev-Row--flex .rev-Col--large#{$i} {
      flex-basis: calc(100% / #{$grid-columns} * #{$i});
      max-width: calc(100% / #{$grid-columns} * #{$i});
      width: auto;
    }
  }
}
@include breakpoint(xlarge) {
  @for $i from 1 through $grid-columns {
    .rev-Row--flex .rev-Col--xlarge#{$i} {
      flex-basis: calc(100% / #{$grid-columns} * #{$i});
      max-width: calc(100% / #{$grid-columns} * #{$i});
      width: auto;
    }
  }
}
@include breakpoint(xxlarge)  {
  @for $i from 1 through $grid-columns {
    .rev-Row--flex .rev-Col--xxlarge#{$i} {
      flex-basis: calc(100% / #{$grid-columns} * #{$i});
      max-width: calc(100% / #{$grid-columns} * #{$i});
      width: auto;
    }
  }
}
