@use '../vars' as *;
@use '../mixins' as *;
@use 'Buttons' as *;
@use 'Forms' as *;

.rev-InputGroup {
  @include flex(stretch, row, flex-start, nowrap);
}

.rev-InputGroup-label {
  font-size: $font-size-small;
  line-height: $line-height-base;
  margin-bottom: $padding-base;
  padding: $padding-small $padding-small $padding-small 0;
}

.rev-InputGroup-field {
  @include input-style;
  border-radius: 0;

  &:first-child {
    border-bottom-left-radius: $input-radius;
    border-top-left-radius: $input-radius;
  }

  &:last-child {
    border-bottom-right-radius: $input-radius;
    border-top-right-radius: $input-radius;
  }
}

.rev-InputGroup-label+.rev-InputGroup-field {
  border-bottom-left-radius: $input-radius;
  border-top-left-radius: $input-radius;
}

.rev-InputGroup-button {
  .rev-Button {
    border-radius: 0;
  }

  &:first-child {
    .rev-Button {
      border-bottom-left-radius: $button-radius;
      border-top-left-radius: $button-radius;
    }
  }

  &:last-child {
    .rev-Button {
      border-bottom-right-radius: $button-radius;
      border-top-right-radius: $button-radius;
    }
  }
}
