$hero-bkgd: $color-brand-primary !default;
$hero-color: $color-white !default;
$min-height: 60rem !default;

.rev-Hero {
  @include flex(center, row, center);
  background: $hero-bkgd;
  color: $hero-color;
  min-height: $min-height;
}
