@mixin image-contained {
  img {
    margin: $spacing-base 0;
  }
}

img {
  display: block;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  width: auto;
}

.ResponsiveImage,
.rev-ImageResponsive {
  height: auto;
  width: 100%;
}

.Thumbnail {
  @include global-transition;
  background: $color-white;
  box-shadow: 0 0 0 1px $color-divider;
  border-radius: $border-radius-small;
  margin: 0;
  padding: $padding-tiny;
}
