// strip out units for typography math
@function strip-unit($number) {
  @if type-of($number)=='number'and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @if type-of($number)=='px' {
    @return $number / ($number * 0.1 + 1);
  }

  /*TODO: check this!!*/
  @return $number;
}

// unitless values
$h1-value: strip-unit($h1);
$h2-value: strip-unit($h2);
$h3-value: strip-unit($h3);
$h4-value: strip-unit($h4);
$h5-value: strip-unit($h5);
$h6-value: strip-unit($h6);
$font-size-base-value: strip-unit($font-size-base);

// header lists
$header-font-sizes: h1,
h2,
h3,
h4,
h5,
h6;
$header-font-size-values: $h1-value,
$h2-value,
$h3-value,
$h4-value,
$h5-value,
$h6-value;

@for $i from 1 through length($header-font-sizes) {
  #{nth($header-font-sizes, $i)} {
    font-size: nth($header-font-size-values, $i) * 1rem;
    line-height: $line-height-header;
    padding-bottom: $spacing-base;
  }
}

@mixin header-contained {
  @for $i from 1 through length($header-font-sizes) {
    #{nth($header-font-sizes, $i)} {
      padding-top: $spacing-base / 2;
      padding-bottom: $spacing-base / 2;
    }
  }
}

@mixin typography-contained {
  @for $i from 1 through length($header-font-sizes) {
    #{nth($header-font-sizes, $i)} {
      padding-top: $spacing-base / 2;
      padding-bottom: $spacing-base / 2;
    }
  }
}

@mixin header {
  display: block;
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include header;
}

h3 {
  padding: $margin-small 0;
}

h5,
h6 {
  line-height: $line-height-base;
  text-transform: uppercase;
}

h6 {
  color: $color-muted;
}

p {
  margin: 0;
  max-width: 70rem;
  padding: 0 0 $spacing-base 0;
}

.Lead,
.rev-Lead {
  display: block;
  font-size: $font-size-medium;
}

.Small,
.rev-Small {
  @include muted;
  display: block;
  font-size: $font-size-small;
  padding: 0 0 $padding-small 0;
}

a {
  @include global-transition;
  color: $anchor-color;
  text-decoration: none;

  &:hover {
    color: $anchor-color-hover;
  }

  &:active,
  &:focus {
    color: $anchor-color-active;
  }
}

small {
  font-size: 75%;
}

// TextAlignment
//TODO: function for breakpoints
.Text-left,
.Text--smallLeft,
.rev-TextLeft,
.rev-TextLeft--small {
  text-align: left;
}

.Text-right,
.Text--smallRight,
.rev-TextRight,
.rev-TextRight--small {
  text-align: right;
}

.Text-center,
.Text--smallCenter,
.rev-TextCenter,
.rev-TextCenter--small {
  text-align: center;
  p {
    margin-left: auto;
    margin-right: auto;
  }
}

.Text-justify,
.Text--smallJustify,
.rev-TextJustify,
.rev-TextJustify--small {
  text-align: justify;
}

@include breakpoint(medium) {
  .Text--mediumLeft,
  .rev-TextLeft--medium {
    text-align: left;
  }

  .Text--mediumRight,
  .rev-TextRight--medium {
    text-align: right;
  }

  .Text--mediumCenter,
  .rev-TextCenter--medium {
    text-align: center;
  }

  .Text--mediumJustify,
  .rev-TextJustify--medium {
    text-align: justify;
  }
}

@include breakpoint(large) {
  .Text--largeLeft,
  .rev-TextLeft--large {
    text-align: left;
  }

  .Text--largeRight,
  .rev-TextRight--large {
    text-align: right;
  }

  .Text--largeCenter,
  .rev-TextCenter--large {
    text-align: center;
  }

  .Text--largeJustify,
  .rev-TextJustify--large {
    text-align: justify;
  }
}

@include breakpoint(xlarge) {
  .Text--xlargeLeft,
  .rev-TextLeft--xlarge {
    text-align: left;
  }

  .Text--xlargeRight,
  .rev-TextRight--xlarge {
    text-align: right;
  }

  .Text--xlargeCenter,
  .rev-TextCenter--xlarge {
    text-align: center;
  }

  .Text--xlargeJustify,
  .rev-TextJustify--xlarge {
    text-align: justify;
  }
}

@include breakpoint(xxlarge) {
  .Text--xxlargeLeft,
  .rev-TextLeft--xxlarge {
    text-align: left;
  }

  .Text--xxlargeRight,
  .rev-TextRight--xxlarge {
    text-align: right;
  }

  .Text--xxlargeCenter,
  .rev-TextCenter--xxlarge {
    text-align: center;
  }

  .Text--xxlargeJustify,
  .rev-TextJustify--xxlarge {
    text-align: justify;
  }
}
