@mixin header {
  display: block;
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  line-height: $line-height-header;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include header;
}
h1 {
  font-size: $font-size-large;
  padding-bottom: $spacing-base;
	@include breakpoint(medium) {
		font-size: $font-size-larger;
	}
	@include breakpoint(xlarge) {
    font-size: $h1;
	}
}
h2 {
  font-size: 3.6rem;
  padding-bottom: $spacing-base;
  @include breakpoint(medium) {
		font-size: $h2;
	}
}
h3 {
  font-size: $h3;
	padding-bottom: $spacing-base;
}
h5 {
	padding-bottom: $spacing-small;
}
h6 {
	color: inherit;
	letter-spacing: 5px;
	padding-bottom: $spacing-small;
	text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0 0 $spacing-base 0;
}

.Lead,
.rev-Lead {
  display: block;
  font-size: $font-size-medium;
}

.Small,
.rev-Small,
small {
  @include muted;
  display: block;
  font-size: $font-size-small;
  padding: 0 0 $padding-small 0;
}

a {
  @include global-transition;
  color: $anchor-color;
  text-decoration: none;
  &:hover {
    color: $anchor-color-hover;
  }
  &:active,
  &:focus {
    color: $anchor-color-active;
  }
}

// TextAlignment
//TODO: function for breakpoints
.Text-left,
.Text--smallLeft,
.rev-TextLeft,
.rev-TextLeft--small {
  text-align: left;
}

.Text-right,
.Text--smallRight,
.rev-TextRight,
.rev-TextRight--small {
  text-align: right;
}

.Text-center,
.Text--smallCenter,
.rev-TextCenter,
.rev-TextCenter--small {
  text-align: center;
  p {
    margin-left: auto;
    margin-right: auto;
  }
}

.Text-justify,
.Text--smallJustify,
.rev-TextJustify,
.rev-TextJustify--small {
  text-align: justify;
}

@include breakpoint(medium) {
  .Text--mediumLeft,
  .rev-TextLeft--medium {
    text-align: left;
  }

  .Text--mediumRight,
  .rev-TextRight--medium {
    text-align: right;
  }

  .Text--mediumCenter,
  .rev-TextCenter--medium {
    text-align: center;
  }

  .Text--mediumJustify,
  .rev-TextJustify--medium {
    text-align: justify;
  }
}

@include breakpoint(large) {
  .Text--largeLeft,
  .rev-TextLeft--large {
    text-align: left;
  }

  .Text--largeRight,
  .rev-TextRight--large {
    text-align: right;
  }

  .Text--largeCenter,
  .rev-TextCenter--large {
    text-align: center;
  }

  .Text--largeJustify,
  .rev-TextJustify--large {
    text-align: justify;
  }
}

@include breakpoint(xlarge) {
  .Text--xlargeLeft,
  .rev-TextLeft--xlarge {
    text-align: left;
  }

  .Text--xlargeRight,
  .rev-TextRight--xlarge {
    text-align: right;
  }

  .Text--xlargeCenter,
  .rev-TextCenter--xlarge {
    text-align: center;
  }

  .Text--xlargeJustify,
  .rev-TextJustify--xlarge {
    text-align: justify;
  }
}

@include breakpoint(xxlarge) {
  .Text--xxlargeLeft,
  .rev-TextLeft--xxlarge {
    text-align: left;
  }

  .Text--xxlargeRight,
  .rev-TextRight--xxlarge {
    text-align: right;
  }

  .Text--xxlargeCenter,
  .rev-TextCenter--xxlarge {
    text-align: center;
  }

  .Text--xxlargeJustify,
  .rev-TextJustify--xxlarge {
    text-align: justify;
  }
}
