<Row smallUp={1} mediumUp={2} largeUp={4} className="ColumnExamples">
  <Col>
    <img src="//placekitten.com/g/300/300" className="thumbnail" alt="" />
  </Col>
  <Col>
    <img src="//placekitten.com/g/300/300" className="thumbnail" alt="" />
  </Col>
  <Col>
    <img src="//placekitten.com/g/300/300" className="thumbnail" alt="" />
  </Col>
  <Col>
    <img src="//placekitten.com/g/300/300" className="thumbnail" alt="" />
  </Col>
  <Col>
    <img src="//placekitten.com/g/300/300" className="thumbnail" alt="" />
  </Col>
  <Col>
    <img src="//placekitten.com/g/300/300" className="thumbnail" alt="" />
  </Col>
</Row>
