<div className="ColumnExamples">
  <Row>
    <Col small={3} smallCentered>3 centered</Col>
  </Row>
  <Row>
    <Col small={6} smallCentered>6 centered</Col>
  </Row>
  <Row>
    <Col small={9} smallCentered largeUncentered>9 centered</Col>
  </Row>
  <Row>
    <Col small={11} smallCentered>11 centered</Col>
  </Row>
</div>
