<div className="ColumnExamples">
  <Row>
    <Col large={2}>2</Col>
    <Col large={10}>10</Col>
  </Row>
  <Row>
    <Col large={2}>2</Col>
    <Col large={9} largeOffset={1}>9, offset 1</Col>
  </Row>
  <Row>
    <Col large={2}>2</Col>
    <Col large={8} largeOffset={2}>8, offset 2</Col>
  </Row>
  <Row>
    <Col large={2}>2</Col>
    <Col large={7} largeOffset={3}>7, offset 3</Col>
  </Row>
</div>
