<Row>
  <Col smallOrder={2} mediumOrder={1}>
    This column will come second on small, and first on medium and larger.
  </Col>
  <Col smallOrder={1} mediumOrder={2}>
    This column will come first on small, and second on medium and larger.
  </Col>
</Row>
