<div className="ColumnExamples">
  <Row>
    <Col small={10} smallPush={2}>1st</Col>
    <Col small={2} smallPull={10}>2nd</Col>
  </Row>
  <Row>
    <Col large={9} largePush={3}>1st</Col>
    <Col large={3} largePull={9}>2nd</Col>
  </Row>
  <Row>
    <Col large={8} largePush={4}>1st</Col>
    <Col large={4} largePull={8}>2nd</Col>
  </Row>
  <Row>
    <Col small={5} smallPush={7}>1st</Col>
    <Col small={7} smallPull={5}>2nd</Col>
  </Row>
  <Row>
    <Col medium={6} mediumPush={6}>1st</Col>
    <Col medium={6} mediumPull={6}>2nd</Col>
  </Row>
</div>
