//Styling for Input

.RevInput {
  input {
    outline: 0;
    box-shadow: none;
  }
}

.RevInput--label {

}

.RevInput--innerLabel {

}

.RevInput-radio,
.RevInput-checkbox {
  line-height: 1.65;
  margin-bottom: 5px;
  padding-left: 20px;
  position: relative;
  &:hover,
  &:active,
  &:focus {
    .RevInput--innerLabel {
      color: $primary-color;
    }
  }
  input {
    left: 0;
    position: absolute;
    top: 6px;
  }
  input:checked {
    & + .RevInput--innerLabel {
      color: $primary-color;
      font-weight: bold;
    }
  }
}

.RevInput--input {

}

.RevError {

}
