<div>
  <h3>default to first tab</h3>
  <Tabs.Stateful>
    <Tabs.Item contentKey={1} title="One">
      <Row>
        <Col>
          <Lipsum p={1} />
        </Col>
      </Row>
    </Tabs.Item>
    <Tabs.Item contentKey={2} title="Two">
      <Row>
        <Col>
          <Lipsum p={2} />
        </Col>
      </Row>
    </Tabs.Item>
  </Tabs.Stateful>
  <h3>explicitly set defaultActive to 2</h3>
  <Tabs.Stateful defaultActive={2}>
    <Tabs.Item contentKey={1} title="One">
      <Row>
        <Col>
          <Lipsum p={1} />
        </Col>
      </Row>
    </Tabs.Item>
    <Tabs.Item contentKey={2} title="Two">
      <Row>
        <Col>
          <Lipsum p={2} />
        </Col>
      </Row>
    </Tabs.Item>
  </Tabs.Stateful>
</div>
