
React.createElement(
class Example extends Component {
  constructor(props){
    super(props)
    this.state = {
      isOpen: false,
    }
  }

  open(){
    this.setState({isOpen: true})
  }

  close(){
    this.setState({isOpen: false})
  }

  render() {
    return (
      <div>
      <Button onClick={() => this.open()}>Open the modal</Button>
      {this.state.isOpen && 
        <StatelessModal isOpen={this.state.isOpen} onBackgroundClick={() => this.close()}>
          <Row>
            <Col>
              <h2>Stateless modal Example</h2>
              <p>Click the background or the close button to dismiss this Stateless Modal.</p>
            </Col>
          </Row>
        </StatelessModal>
      }
      </div>
    )
  }
}
)
