<div className="FakeViewportContainer">
  <Modal isOpen={true}>
    <Row>
      <Col>
        <h2>Modal Example</h2>
        <p>Click the background to dimiss it</p>
      </Col>
    </Row>
  </Modal>
</div>
